.age-categories{
  background-color: $color-watch;
  margin-top: -3px;
  margin-bottom: 60px;
  padding: 20px;
  width: 100%;

  .block-content{
    margin: auto;
    text-align: center;
    width: 100%;
  }

  ul{
    margin: auto;

    li{
      display: inline-block;
      border: 1px solid white;
      padding: 10px 30px;
      margin: 20px;
    }

    li:hover, li.selected{
      background-color: white;
      color: $color-watch;

      a{
        color: $color-watch !important;
      }
    }   
  }

  p{
    float: left;
    width: 27%;
    border: 1px solid white;
    margin-right: 20px;
    padding: 10px 30px;
  }

  p:hover{
    background-color: white;

    a{
      color: $color-watch;
    }
  }

  a{
    font-family: $font-base;
    font-size: 22px;
    font-weight: $font-weight-thin;
    color: white !important;

    @include breakpoint($mobile-size){
      font-size: 16px;
    }
  }
}
