.two-brick{
  .panel-row{
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;

    .region{
      width: 50%;

      @include breakpoint($mobile-size){
        width: 100%;
      }
    }
  }
}
