.button{
   border: 1px solid pink;
   padding: 10px 30px;

   a{
	 font-family: $font-base;
	 font-weight: $font-weight-thin;
   }
 }

 .webform-submit.button-primary
 {
 	transition: 0.3s all ease-in-out;
 	cursor:pointer;
 }