/* =============================================================================
 *   COLORS
 * ========================================================================== */
/* Default brand colors */
.fa,
.icon,
a,
.light a,
.brand,
ul.menu li.active-trail.sf-depth-1 > a,
ul.menu li a.active,
ul.menu li.active > a,
ul.sf-menu a:hover,
.hover-brand:hover,
.hovermenu li li:before,
.hover.ruv-color-hover:hover {
  color: white;
}
.fill-brand {
  background-color: white;
}
.h-border > .block-inner > .block-title,
.h-border > .block-inner > .block-title,
blockquote {
  border-color: white;
}

.form-submit,
.button,
.pager-load-more a {
  border-color: white;
  color: white;
}
.dark .form-submit,
.dark .button,
.dark .pager-load-more a {
  border-color: #0B0B0B;
  color: #0B0B0B;
}

.button.active,
.form-submit:hover,
.button:hover,
.pager-load-more a:hover {
  background: white;
  color: #0B0B0B;
}

.dark .form-submit:hover,
.dark .button:hover,
.dark .pager-load-more a:hover {
  background: #0B0B0B;
  color: white;
}

ul.quicktabs-tabs li.active > a {
  background: white;
  color: #0B0B0B;
}

/* watch-color */
.watch-color,
.watch-color h1, .watch-color h2,
.watch-color .fa,
.watch-color .icon,
.watch-color a,
.watch-color .light a,
.watch-color .brand,
.watch-color .ul.menu li.active-trail.sf-depth-1 > a,
.watch-color .ul.menu li a.active,
.watch-color .ul.menu li.active > a,
.watch-color .ul.sf-menu a:hover,
.watch-color .hover-brand:hover,
.watch-color .hovermenu li li:before,
.watch-color-hover.watch-color-hover:hover {
  color: $color-watch;
}

.watch-color .fill-brand {
  background-color: $color-watch;
}

.watch-color .h-border > .block-inner > .block-title,
.watch-color.h-border > .block-inner > .block-title,
blockquote {
  border-color: $color-watch;
}
.watch-color .form-submit,
.watch-color .button,
.watch-color .pager-load-more a {
  border-color: $color-watch;
  color: $color-watch;
}
.watch-color .dark .form-submit,
.watch-color .dark .button,
.watch-color .dark .pager-load-more a {
  border-color: white;
  color: white;
}
.watch-color .button.active,
.watch-color .form-submit:hover,
.watch-color .button:hover,
.watch-color .pager-load-more a:hover {
  background: $color-watch;
  color: white;
}
.watch-color .dark .form-submit:hover,
.watch-color .dark .button:hover,
.watch-color .dark .button:hover .fa,
.watch-color .dark .pager-load-more a:hover {
  background: white;
  color: $color-watch;
}
.watch-color ul.quicktabs-tabs li.active > a {
  background: $color-watch;
  color: white;
}


/* listen-color */
.listen-color,
.listen-color h1, .listen-color h2,
.listen-color .fa,
.listen-color .icon,
.listen-color a,
.listen-color .light a,
.listen-color .brand,
.listen-color .ul.menu li.active-trail.sf-depth-1 > a,
.listen-color .ul.menu li a.active,
.listen-color .ul.menu li.active > a,
.listen-color .ul.sf-menu a:hover,
.listen-color .hover-brand:hover,
.listen-color .hovermenu li li:before,
.listen-color-hover.listen-color-hover:hover {
  color: $color-listen;
}

.listen-color .fill-brand {
  background-color: $color-listen;
}

.listen-color .h-border > .block-inner > .block-title,
.listen-color.h-border > .block-inner > .block-title,
blockquote {
  border-color: $color-listen;
}
.listen-color .form-submit,
.listen-color .button,
.listen-color .pager-load-more a {
  border-color: $color-listen;
  color: $color-listen;
}
.listen-color .dark .form-submit,
.listen-color .dark .button,
.listen-color .dark .pager-load-more a {
  border-color: white;
  color: white;
}
.listen-color .button.active,
.listen-color .form-submit:hover,
.listen-color .button:hover,
.listen-color .pager-load-more a:hover {
  background: $color-listen;
  color: white;
}
.listen-color .dark .form-submit:hover,
.listen-color .dark .button:hover,
.listen-color .dark .button:hover .fa,
.listen-color .dark .pager-load-more a:hover {
  background: white;
  color: $color-listen;
}
.listen-color ul.quicktabs-tabs li.active > a {
  background: $color-listen;
  color: white;
}

/* play-color */
.play-color,
.play-color h1, .play-color h2,
.play-color .fa,
.play-color .icon,
.play-color a,
.play-color .light a,
.play-color .brand,
.play-color .ul.menu li.active-trail.sf-depth-1 > a,
.play-color .ul.menu li a.active,
.play-color .ul.menu li.active > a,
.play-color .ul.sf-menu a:hover,
.play-color .hover-brand:hover,
.play-colorplay-color .hovermenu li li:before,
.play-color-hover.play-color-hover:hover {
  color: $color-play;
}

.play-color .fill-brand {
  background-color: $color-play;
}

.play-color .h-border > .block-inner > .block-title,
.play-color.h-border > .block-inner > .block-title,
blockquote {
  border-color: $color-play;
}
.play-color .form-submit,
.play-color .button,
.play-color .pager-load-more a {
  border-color: $color-play;
  color: $color-play;
}
.play-color .dark .form-submit,
.play-color .dark .button,
.play-color .dark .pager-load-more a {
  border-color: white;
  color: white;
}
.play-color .button.active,
.play-color .form-submit:hover,
.play-color .button:hover,
.play-color .pager-load-more a:hover {
  background: $color-play;
  color: white;
}
.play-color .dark .form-submit:hover,
.play-color .dark .button:hover,
.play-color .dark .button:hover .fa,
.play-color .dark .pager-load-more a:hover {
  background: white;
  color: $color-play;
}
.play-color ul.quicktabs-tabs li.active > a {
  background: $color-play;
  color: white;
}

/* listen-color */
.create-color,
.create-color h1, .create-color h2,
.create-color .fa,
.create-color .icon,
.create-color a,
.create-color .light a,
.create-color .brand,
.create-color .ul.menu li.active-trail.sf-depth-1 > a,
.create-color .ul.menu li a.active,
.create-color .ul.menu li.active > a,
.create-color .ul.sf-menu a:hover,
.create-color .hover-brand:hover,
.create-color .hovermenu li li:before,
.create-color-hover.create-color-hover:hover {
  color: $color-create;
}

.create-colorcreate-color .fill-brand {
  background-color: $color-create;
}

.create-color .h-border > .block-inner > .block-title,
.create-color.h-border > .block-inner > .block-title,
blockquote {
  border-color: $color-create;
}
.create-color .form-submit,
.create-color .button,
.create-color .pager-load-more a {
  border-color: $color-create;
  color: $color-create;
}
.create-color .dark .form-submit,
.create-color .dark .button,
.create-color .dark .pager-load-more a {
  border-color: white;
  color: white;
}
.create-color .button.active,
.create-color .form-submit:hover,
.create-color .button:hover,
.create-color .pager-load-more a:hover {
  background: $color-create;
  color: white;
}
.create-color .dark .form-submit:hover,
.create-color .dark .button:hover,
.create-color .dark .button:hover .fa,
.create-color .dark .pager-load-more a:hover {
  background: white;
  color: $color-create;
}
.create-color ul.quicktabs-tabs li.active > a {
  background: $color-create;
  color: white;
}

/* worlds-color */
.worlds-color,
.worlds-color h1, .worlds-color h2,
.worlds-color .fa,
.worlds-color .icon,
.worlds-color a,
.worlds-color .light a,
.worlds-color .brand,
.worlds-color .ul.menu li.active-trail.sf-depth-1 > a,
.worlds-color .ul.menu li a.active,
.worlds-color .ul.menu li.active > a,
.worlds-color .ul.sf-menu a:hover,
.worlds-color .hover-brand:hover,
.worlds-color .hovermenu li li:before,
.worlds-color-hover.worlds-color-hover:hover {
  color: $color-worlds;
}

.worlds-color .fill-brand {
  background-color: $color-worlds;
}

.worlds-color .h-border > .block-inner > .block-title,
.worlds-color.h-border > .block-inner > .block-title,
blockquote {
  border-color: $color-worlds;
}
.worlds-color .form-submit,
.worlds-color .button,
.worlds-color .pager-load-more a {
  border-color: $color-worlds;
  color: $color-worlds;
}
.worlds-color .dark .form-submit,
.worlds-color .dark .button,
.worlds-color .dark .pager-load-more a {
  border-color: white;
  color: white;
}
.worlds-color .button.active,
.worlds-color .form-submit:hover,
.worlds-color .button:hover,
.worlds-color .pager-load-more a:hover {
  background: $color-worlds;
  color: white;
}
.worlds-color .dark .form-submit:hover,
.worlds-color .dark .button:hover,
.worlds-color .dark .button:hover .fa,
.worlds-color .dark .pager-load-more a:hover {
  background: white;
  color: $color-worlds;
}
.worlds-color ul.quicktabs-tabs li.active > a {
  background: $color-worlds;
  color: white;
}

/* red-color */
.red-color .fa,
.red-color .icon,
.red-color a,
.red-color .light a,
.red-color .brand,
.red-color .ul.menu li.active-trail.sf-depth-1 > a,
.red-color .ul.menu li a.active,
.red-color .ul.menu li.active > a,
.red-color .ul.sf-menu a:hover,
.red-color .hover-brand:hover,
.red-color .hovermenu li li:before,
.red-color-hover.red-color-hover:hover {
  color: #DE0404;
}

.red-colorred-color .fill-brand {
  background-color: #DE0404;
}

.red-color .h-border > .block-inner > .block-title,
.red-color.h-border > .block-inner > .block-title,
blockquote {
  border-color: #DE0404;
}
.red-color .form-submit,
.red-color .button,
.red-color .pager-load-more a {
  border-color: #DE0404;
  color: #DE0404;
}
.red-color .dark .form-submit,
.red-color .dark .button,
.red-color .dark .pager-load-more a {
  border-color: white;
  color: white;
}
.red-color .button.active,
.red-color .form-submit:hover,
.red-color .button:hover,
.red-color .pager-load-more a:hover {
  background: #DE0404;
  color: white;
}
.red-color .dark .form-submit:hover,
.red-color .dark .button:hover,
.red-color .dark .button:hover .fa,
.red-color .dark .pager-load-more a:hover {
  background: white;
  color: #DE0404;
}
.red-color ul.quicktabs-tabs li.active > a {
  background: #DE0404;
  color: white;
}

/** GREY */
.color-grey.color-grey { color: #B8B8B8; }
