/* Columns
------------------------------------------------------- */

.col0    { float:left; width:04.1666%; /* max-width:50px; */ }
.col1    { float:left; width:08.3333%; /* max-width:100px; */ }
.col2    { float:left; width:16.6666%; /* max-width:200px; */ }
.col3    { float:left; width:25.0000%; /* max-width:300px; */ }
.col4    { float:left; width:33.3333%; /* max-width:400px; */ }
.col5    { float:left; width:41.6666%; /* max-width:500px; */ }
.col6    { float:left; width:50.0000%; /* max-width:600px; */ }
.col7    { float:left; width:58.3333%; /* max-width:700px; */ }
.col8    { float:left; width:66.6666%; /* max-width:800px; */ }
.col9    { float:left; width:75.0000%; /* max-width:900px; */ }
.col10   { float:left; width:83.3333%; /* max-width:1000px; */ }
.col11   { float:left; width:91.6666%; /* max-width:1100px; */ }
.col12   { width:100%; display:block; }
/* For when you need five columns */
.fifth  { float: left; width: 20%; }

.col12-mobile{ @include breakpoint($mobile-size){width:100%; display:block; } }
