footer{
  font-family: $font-base;
  font-size: 16px;
  width: 100%;
  padding: 0 20px;

  .social-media{
    a:hover{
      i:before{
        opacity:0.7;
      }
    }
  }
  

  @include breakpoint($mobile-size){
    font-size: 14px;
  }

  .inline{
    margin-top: -4px;
    font-weight: 300;
  }

  .front &{
    background-color: $color-messages-background;
    color: white;
    
    .site-footer
    {
      border-top: 1px solid white;
      a.tel-link
      {
        color:white;
      }
    }
  }

  .region-footer{
    max-width: $max-width;
    margin: 0 auto;
  }
}

.watch-color footer{
  .site-footer
  {
    border-top: 1px solid $color-watch;
    a.tel-link
    {
      color:$color-watch;
    }
  }
}

.listen-color footer{
  .site-footer
  {
    border-top: 1px solid $color-listen;
    a.tel-link
    {
      color:$color-listen;
    }
  }
}

.play-color footer{
  .site-footer
  {
    border-top: 1px solid $color-play;
    a.tel-link
    {
      color:$color-play;
    }
  }
}

.create-color footer{
  .site-footer
  {
    border-top: 1px solid $color-create;
    a.tel-link
    {
      color:$color-create;
    }
  }
}

.worlds-color footer{
  .site-footer
  {
    border-top: 1px solid $color-worlds;
    a.tel-link
    {
      color:$color-worlds;
    }
  }
}
