.pane-node-webform
{
	h2
	{
		margin-bottom:30px;
	}
}


input, textarea{
  padding: 10px;
  font-family: $font-base;
  font-size: 16px;
}

label{
  font-family: $font-base;
  font-size: 16px;
}

.form-item{
  .description{
    font-family: $font-base;
  }
}


#edit-submitted-mynd-eda-myndband-ajax-wrapper {
    .description {
      display: none;
    }
  }

#webform-client-form-2871 {
  input {
    width: 100%;
  }
  .form-text, .form-textarea {
    border: 1px solid $color-light-grey;
    transition: 0.3s all ease-in-out;
  }
  .form-text:focus, .form-textarea:focus {
    border-color: $color-worlds;
  }
}

/* Min width 581px */
@media only screen and (min-width: 581px) {
  .block-title {
    /*margin-top: -8px;*/
  }
}

