.pane-node-webform
{
	h2
	{
		margin-bottom:30px;
	}
}


input, textarea{
  padding: 10px;
  font-family: $font-base;
  font-size: 16px;
}

label{
  font-family: $font-base;
  font-size: 16px;
}

.form-item{
  .description{
    font-family: $font-base;
  }
}


#edit-submitted-mynd-eda-myndband-ajax-wrapper {
    .description {
      display: none;
    }
  }

