.ruv-item{
  transition: all 0.3s ease-out;
  font-family: $font-base;
  width: 23%;
  float: left;
  margin-right: 2%;
  margin-bottom: 30px;
  overflow: hidden;
  display: inline-block;

  .term-list-item-image{
    border:1px solid $color-light-grey;
  }

  .views-field{
    overflow: hidden;
    
  }

  .title-bar{
    padding: 30px 20px 10px 20px;
    width: 100%;
    color:white;
    a{
      color:white;
    }
  }

  .view-field {

  }


  img{
    margin-bottom: -3px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
  }

  @include breakpoint($tablet-size){
    width: 48%;
  }

  @include breakpoint($mobile-size){
    width: 48%;
  }

  @include breakpoint($mobile-portrait-max){
    width: 100%;
  }
}

.ruv-item-all{
  position: relative;
  .title-bar{
    background-color: $color-all-shows-black;
  }
}

.ruv-item-newest{
  position: relative;
  min-height: 440px;

  .title-bar{
    transition: all 0.3s ease-out;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    @include background-image(linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.5)));

    h1.item-title,
    h2.item-subtitle{
      font-family: $font-base;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 0px;
      color: white;
      text-shadow: 0px 0px 5px $color-all-shows-black;
      display: block;
    }

    h2.item-subtitle{
      @include breakpoint($mobile-size){
        display: none;
      }

      @include breakpoint($mobile-portrait-max){
        display: block;
      }
    }

    time{
      color: white;
    }

    p.episode-numbers{
      color: white;
      text-shadow: 0px 0px 5px $color-all-shows-black;
      font-weight: 300;

      @include breakpoint($mobile-size){
        display: none;
      }

      @include breakpoint($mobile-portrait-max){
        display: block;
      }
    }
  }
}

.ruv-item:hover{

  .title-bar{
    @include background-image(linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.8)));
    padding-bottom: 20px;
  }

  img{
    transform: scale(1.2);
  }
}
