.ruv-player.watch{
  padding: 50px 50px 0 50px;
  background-color: $color-watch;
}

.view-spilari{
  padding-top: 20px;
}

.watch-color .view-spilari{
  background-color: $color-watch;
}

.listen-color .view-spilari{
  background-color: $color-listen;
  padding-bottom: 20px;
}
