.ruv-player.watch{
  padding: 50px 50px 0 50px;
  background-color: $color-watch;
}

.page-heimur{
  header{
    h1{
      margin-left: 20px;
    }
  }

  .pane-spilari-panel-pane-3{
    .view-spilari{
      background-color: $color-worlds;
      padding-bottom: 20px;
    }
  }
}

.view-spilari{
  padding-top: 20px;
  max-width: $max-width;
  margin: 0 auto;

  h1{
    @include breakpoint($mobile-portrait-max){
      font-size: 24px;
      line-height: 30px;
    }
  }

  h2{
    margin-bottom: 30px;
    font-size: 36px;

    @include breakpoint($mobile-portrait-max){
      font-size: 20px;
      line-height: 24px;
    }
  }
}

p.toggle-text-boxes{
  font-family: $font-base;
  font-size: 18px;
  cursor: pointer;
}

section.text-boxes{
  @include clearfix;

  section.text-box {
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-family: $font-base;
    float: left;
    margin-bottom: 20px;
    color: $color-all-shows-black;

    .texts{
      width: 60%;
      float: left;
      color: $color-all-shows-black;

      @include breakpoint($mobile-size){
        width: 60%;
      }
    }

    .display-box{
      width: 30%;
      float: right;
      text-align: right;

      p{
        margin-bottom: 5px;
      }

      p:last-child{
        margin-bottom: 10px;
      }

      @include breakpoint($mobile-size){
        width: 40%;
        float: left;
      }

      @include breakpoint($mobile-portrait-max){
        width: 100%;
      }
    }

    p{
      margin-bottom: 10px;
      line-height: 23px;
      font-weight: 300;
    }
  }

  .rights{
    @include clearfix;
    width: 30%;
    float: right;
    padding: 20px;
    font-size: 16px;
    font-family: $font-base;

    h3{
      color: $color-all-shows-black;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    p{
      margin-bottom: 10px;
      line-height: 16px;
      font-weight: 300;
    }

    @include breakpoint($mobile-size){
      width: 100%;
      float: left;
    }
  }
}

.player-watch-playlist{
  background-color: $color-watch;
  padding-bottom: 20px;
}
