.ruv-item{
  transition: all 0.3s ease-out;
  font-family: $font-base;
  width: 23%;
  float: left;
  margin-right: 2%;
  margin-bottom: 30px;

  .title-bar{
    padding: 30px 10px 10px 10px;
    width: 100%;

    a{
      color: white;
    }
  }

  img{
    margin-bottom: -3px;
    width: 100%;
    height: auto;
  }

  @include breakpoint($tablet-size){
    width: 48%;
  }

  @include breakpoint($mobile-size){
    width: 48%;
  }

  @include breakpoint($mobile-portrait-max){
    width: 100%;
    padding: 10px 0;
  }
}

.ruv-item-all{
  position: relative;
  .title-bar{
    background-color: $color-all-shows-black;
  }
}

.ruv-item-newest{
  position: relative;

  .title-bar{
    transition: all 0.3s ease-out;
    position: absolute;
    bottom: 0;
    @include background-image(linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.5)));

    time{
      color: white;
    }
  }
}

.ruv-item:hover{
  transform: scale(1.1);

  .title-bar{
    background-color: rgba(0,0,0,.6);
    padding-bottom: 20px;
  }
}
