.ruv-panel-pane{
  margin-bottom: 30px !important;

  h2{
    font-family: $font-headline;
    font-size: 36px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    @include breakpoint($mobile-size)
    {
    	text-align: center;
    }
  }

  @include breakpoint($mobile-size){
    padding: 0 20px;
  }
}
