.pane-solr-leit-panel-pane-1 {
  max-width: 750px;
  .views-exposed-widgets {
    margin-bottom: 16px;
  }
  padding-left: 1.25em;
  padding-right: 1.25em;
  .pane-title {
    color: $color-main;
    font-size: 30px;
  }
}

.view-solr-leit {
  .view-content {
    max-width: 750px;
    position: relative;
    margin: 0 auto;
  }
  .views-row {
    margin-bottom: 16px;
    .iconruv {
      font-size: 19px;
    }
    .iconruv.iconruv-boy21 {
      font-size: 28px;
    }
    .search-result-item {
      background-color: $color-main;
      position: relative;
      /*padding: 25px 20px 67px 20px;*/
      padding: 0 0 67px 0;
      .sri-texts-age-and-created {
        background-color: #278db6;
      }
    }
    .Leika {
      background-color: $color-play;
      .sri-texts-age-and-created {
        background-color: #a33358;
      }
    }
    .Hlusta {
      background-color: $color-listen;
      .sri-texts-age-and-created {
        background-color: #2a9e9e;
      }
    }
    .Heimar {
      background-color: $color-worlds;
      .sri-texts-age-and-created {
        background-color: #c36b2f;
      }
    }
    .Skapa {
      background-color: $color-create;
      .sri-texts-age-and-created {
        background-color: #9a6cc3;
      }
    }
    .Horfa {
      background-color: $color-watch;
      .sri-texts-age-and-created {
        background-color: #439543;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      border-bottom: 1px solid white;
      display: block;
    }
    .sri-texts-title a {
      font-size: 24px;
      font-family: $font-base;
      font-weight: 700;
      color: white;
      margin-bottom: 13px;
      display: block;
      line-height: 1.04;
    }
    .sri-texts {
      color: white;
      padding: 20px 18px;
    }
    .sri-texts-age-and-created {
      color: white;
      font-size: 14px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0px;
      height: 42px;
      padding: 15px 20px;
      border-top: 1px solid white;
    }
  }
  .views-submit-button {
    width: 100%;
    padding: 0;
  }
  .form-submit {
    background-color: white;
    border: 1px solid $color-main;
    cursor: pointer;
    margin-top: 0 !important;
    color: $color-main;
    height: 47px;
    padding: 0;
    width: 100%;
    transition: 0.3s all ease-in-out;
  }
  .form-submit:hover {
    color: white;
    background-color: $color-main;
  }
  #edit-leitartexti-wrapper {
    padding: 0;
    margin-bottom: 13px;
    width: 100%;
    label {
      position: absolute;
      left: -9999em;
    }
    .form-text {
      border: 1px solid $color-border-grey;
      height: 47px;
      width: 100%;
      transition: 0.3s all ease-in-out;
    }
    .form-text:focus {
      border-color: $color-main;
    }
  }
  .box {
    margin-bottom: 24px;
  }
}

/* Min width 480px */
@media only screen and (min-width: 480px) {
  .view-solr-leit {
    #edit-leitartexti-wrapper {
      width: 60%;
      padding-right: 10px;
    }
    .views-submit-button {
      width: 40%;
      padding-left: 10px;
    }
  }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
  .view-solr-leit {
    .views-row {
      position: relative;
      overflow: hidden;
      width: 100%;
      img {
        border: 1px solid white;
      }
      .sri-image{
        float: left;
        max-width: 270px;
      }
      .sri-texts {
        padding: 0 0 0 20px;
        position: relative;
        overflow: hidden;
      }
      .search-result-item {
        overflow: hidden;
        padding: 25px 20px 67px 20px;
      }
      .views-field, .search-result-item {
        position: relative;
      }
      .field-content {
        position: relative;
        overflow: hidden;
        display: block;
      }
    }
  }
}