/* =============================================================================
 * Additional Utility Classes
* ========================================================================== */


.fr { float:right; }
.fl { float:left; }
.fn { float: none;}
.dot { border-radius: 50%; }
.dot img { border-radius: 50% }
.quiet { color:#7f7f7f; color: rgba(0,0,0,.5); }
.dark .quiet { color: #7f7f7f; color: rgba(255,255,255,.5);}
.center { text-align:center; }
.relative { position:relative; }
.clip { overflow:hidden; }
.clearboth { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right }
.clear-even:nth-child(even) { clear: left; }
.clear-odd:nth-child(odd) { clear: left; }
.hidden { display:none; }
.hidden-aria { left: -9999px; position: absolute;}
.hide-text { text-indent:-99999px; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.display-block { display: block; }
img.inline, .inline { display: inline-block; }
.break-word { word-wrap: break-word; }
.align-middle { vertical-align: middle;}
.align-top { vertical-align: top;}
.align-bottom { vertical-align: bottom;}
.align-text-bottom { vertical-align: text-bottom; }
.display-block { display:block; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x-content .block-content { height:20em; overflow-x: auto; }
.scroll-y-content .block-content { height:20em; overflow-y: auto; }
.capitalize { text-transform: capitalize; }
.capitalize_first::first-letter { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.hover-noline:hover, .hover-noline:focus { text-decoration: none; }
.hover-lighten:hover { opacity: 0.8; }
.z1   { z-index: 1; }
.z10  { z-index: 10; }
.z100 { z-index: 100; }
.z1000 { z-index: 1000; }
.round { border-radius: 3px; }
.round-top { border-radius: 3px 3px 0 0; }
.round-right { border-radius: 0 3px 3px 0; }
.round-bottom { border-radius: 0 0 3px 3px; }
.round-left { border-radius: 3px 0 0 3px; }
.unround { border-radius: 0; }
.tiny { font-size: 0.550em; }
.puny { font-size: 0.750em; }
.small { font-size: 0.875em; }
.big { font-size: 1.250em; }
.large { font-size: 1.5em; }
.huge { font-size: 2em; }
.font-bold { font-weight: bold; }
.font-normal { font-weight: normal; }
.line-height0 { line-height: 0; }
.line-height1 { line-height: 1em; }
.line-height2 { line-height: 1.5em; }
.pointer:hover { cursor: pointer; }
.height-1em { height: 1em; }
.width-1em { width: 1em; }
.whitespace-nowrap { white-space: nowrap; }
.whitespace-normal { white-space: normal; }
.max100 { max-width: 100% }
.min-height1 { min-height: 1em; }
.min-height2 { min-height: 2em; }
.min-height3 { min-height: 3em; }
.min-height4 { min-height: 4em; }
.single-centered {
  max-width: 750px;
  margin: 0 auto;
}
.autofill {
  height: 100%;
  width: 100%;
}
.dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.unlist ul
{
  list-style-type:none;
  padding:0px;
  margin:0px;
}
.unlist ul li {
  margin: 0;
  padding: 0;
}

.main-heading{
  span.subtitle{
    font-size: 32px;
  }

  span.episode-numbers{
    font-family: $font-base;
  }
}

.center-max{
  max-width: 1140px;
  margin: auto;
}

/* Margin for all sides */
.mar0 { margin:0.313em; }
.mar1 { margin:0.625em; }
.mar2 { margin:1.250em; }
.mar3 { margin:1.875em; }
.mar4 { margin:2.500em; }

/* Left and Right margins*/
.mar0x { margin-right:0.313em; margin-left:0.313em; }
.mar1x { margin-left: 0.625em; margin-right: 0.625em; }
.mar2x { margin-left: 1.250em; margin-right: 1.250em; }
.mar3x { margin-left: 1.875em; margin-right: 1.875em; }
.mar4y { margin-top: 2.500em; margin-bottom: 2.500em; }

/* Top and Bottom margins*/
.mar0y { margin-top:0.313em; margin-bottom:0.313em; }
.mar1y { margin-top: 0.625em; margin-bottom: 0.625em; }
.mar2y { margin-top: 1.250em; margin-bottom: 1.250em; }
.mar3y { margin-top: 1.875em; margin-bottom: 1.875em; }
.mar4y { margin-top: 2.500em; margin-bottom: 2.500em; }

/* Left margin, used for left-floated elements */
.mar0l { margin-left: 0.313em; }
.mar1l { margin-left: 0.625em; }
.mar2l { margin-left: 1.250em; }
.mar3l { margin-left: 1.875em; }
.mar4l { margin-left: 2.500em; }

/* reverse margins on right-floated elements */
.mar0r { margin-right: 0.313em; }
.mar1r { margin-right: 0.625em; }
.mar2r { margin-right: 1.250em; }
.mar3r { margin-right: 1.875em; }
.mar4r { margin-right: 2.500em; }

/* Margin-bottom */
.mar0b { margin-bottom: 0.313em; }
.mar1b { margin-bottom: 0.625em; }
.mar2b { margin-bottom: 1.250em; }
.mar3b { margin-bottom: 1.875em; }
.mar4b { margin-bottom: 2.500em; }

/* Margin-top */
.mar0t { margin-top: 0.313em; }
.mar1t { margin-top: 0.625em; }
.mar2t { margin-top: 1.250em; }
.mar3t { margin-top: 1.875em; }
.mar4t { margin-top: 2.500em; }

/* Minus Left margin, used for left-floated elements */
.mar-0l { margin-left: -0.313em; }
.mar-1l { margin-left: -0.625em; }
.mar-2l { margin-left: -1.250em; }
.mar-3l { margin-left: -1.875em; }
.mar-4l { margin-left: -2.500em; }

/* Minus reverse margins on right-floated elements */
.mar-0r { margin-right: -0.313em; }
.mar-1r { margin-right: -0.625em; }
.mar-2r { margin-right: -1.250em; }
.mar-3r { margin-right: -1.875em; }
.mar-4r { margin-right: -2.500em; }

/* Minus Margin-bottom */
.mar-0b { margin-bottom: -0.313em; }
.mar-1b { margin-bottom: -0.625em; }
.mar-2b { margin-bottom: -1.250em; }
.mar-3b { margin-bottom: -1.875em; }
.mar-4b { margin-bottom: -2.500em; }

/* Minus Margin-top */
.mar-0t { margin-top: -0.313em; }
.mar-1t { margin-top: -0.625em; }
.mar-2t { margin-top: -1.250em; }
.mar-3t { margin-top: -1.875em; }
.mar-4t { margin-top: -2.500em; }

.no-margin { margin: 0; }

/* Padding
------------------------------------------------------- */

.pad0 { padding:0.313em; }
.pad1 { padding:0.625em; }
.pad2 { padding:1.250em; }
.pad3 { padding:1.875em; }

.pad0x { padding-right:0.313em; padding-left:0.313em; }
.pad1x { padding-left: 0.625em; padding-right: 0.625em;}
.pad2x { padding-left: 1.250em; padding-right: 1.250em;}
.pad3x { padding-left: 1.875em; padding-right: 1.875em;}

.pad0y { padding-top:0.313em; padding-bottom:0.313em; }
.pad1y { padding-top: 0.625em; padding-bottom: 0.625em;}
.pad2y { padding-top: 1.250em; padding-bottom: 1.250em;}
.pad3y { padding-top: 1.875em; padding-bottom: 1.875em;}

/* Padding Left */
.pad0l { padding-left: 0.313em; }
.pad1l { padding-left: 0.625em; }
.pad2l { padding-left: 1.250em; }
.pad3l { padding-left: 1.875em; }

/* Padding Right*/
.pad0r { padding-right: 0.313em; }
.pad1r { padding-right: 0.625em; }
.pad2r { padding-right: 1.250em; }
.pad3r { padding-right: 1.875em; }

/* Padding-bottom */
.pad0b { padding-bottom: 0.313em; }
.pad1b { padding-bottom: 0.625em; }
.pad2b { padding-bottom: 1.250em; }
.pad3b { padding-bottom: 1.875em; }

/* Padding-top */
.pad0t { padding-top: 0.313em; }
.pad1t { padding-top: 0.625em; }
.pad2t { padding-top: 1.250em; }
.pad3t { padding-top: 1.875em; }

/* Text definitions */
.color-white
{
  color:white;
  p,h2{
    color:white;
  }
}
