# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea/*
sites/all/themes/at_krakkaruv/vendor
sites/all/themes/at_krakkaruv/.bowerrc
sites/all/themes/at_krakkaruv/.sass-cache

.DS_Store
