.primary-hero {
    background: transparent url(images/hexagon-bg.png) no-repeat top center;
    background-size: 100%;
    position: relative;
    z-index: 2;
    .text-box {
        position: absolute;
        text-align: center;
        bottom: 14.98257839721254%;
        width: 100%;
        h1, p {
            text-align: center;
            color: $color-white;
        }
        h1 {
            margin-bottom: -10px;
        }
        p {
            margin-top: 5px;
        }
        h1 span {
            color: $color-green-2;
        }
        .ruler {
            display: inline-block;
            height: 2px;
            width: 14.93055555555556%;
            background-color: $color-yellow-2;
        }
    }
    .border {
    	position: absolute;
        bottom: -56px;
        width: 2000px;
        left: 50%;
        margin-left: -1000px;
    }
    .image-wrapper {
    	img {
    		margin-bottom: -29px;
    	}
    }
}

/* Min width 768px */
@media only screen and (min-width: 480px) {
    .primary-hero {
        .text-box {
            h1 {
                font-size: 46px;
                font-size: 2.875rem;
            }
            p {
                font-size: 20px;
                font-size: 1.25rem;
            }
        }
    }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    .primary-hero {
       .text-box {
            h1 {
                font-size: 56px;
                font-size: 3.5rem;
            }
            p {
                font-size: 24px;
                font-size: 1.5rem;
            }
        }
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
    .primary-hero {
        .border {
            width: 3000px;
            margin-left: -1500px;
        }
        .text-box {
            h1 {
                font-size: 62px;
                font-size: 3.875rem;
            }
            p {
                font-size: 26px;
                font-size: 1.625rem;
            }
            .ruler {
                height: 4px;
            }
        }
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
	.primary-hero {
    	background-size: inherit;
        .border {
            width: 4000px;
            margin-left: -2000px;
        }
        .text-box {
            h1 {
                font-size: 68px;
                font-size: 4.25rem;
            }
            p {
                font-size: 30px;
                font-size: 1.875rem;
            }
        }
	}
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .primary-hero {
        .text-box {
            h1 {
                font-size: 72px;
                font-size: 4.5rem;
            }
            p {
                font-size: 34px;
                font-size: 2.125rem;
            }
        }
    }
}

/* Min width 4000px */
@media only screen and (min-width: 4000px) {
    .primary-hero {
        .border {
            width: 100%;
            margin-left: 0;
        }
    }
}