.primary-hero {
    background: transparent url(images/hexagon-bg.png) no-repeat top center;
    background-size: 100%;
    position: relative;
    z-index: 2;
    .text-box {
        position: absolute;
        text-align: center;
        bottom: 60px;
        width: 100%;
        h1, p {
            text-align: center;
            color: $color-white;
        }
        h1 span {
            color: $color-green;
        }
    }
    .border {
    	position: absolute;
        bottom: -56px;
        width: 2000px;
        left: 50%;
        margin-left: -1000px;
    }
    .image-wrapper {
    	img {
    		margin-bottom: -29px;
    	}
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
    .primary-hero {
        .border {
            width: 3000px;
            margin-left: -1500px;
        }
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
	.primary-hero {
    	background-size: inherit;
        .border {
            width: 4000px;
            margin-left: -2000px;
        }
	}
}

/* Min width 4000px */
@media only screen and (min-width: 4000px) {
    .primary-hero {
        .border {
            width: 100%;
            margin-left: 0;
        }
    }
}