.hexagon-items {
    ul {
        display: none;
        position: relative;
        li {
            position: absolute;
            width: 116px;
        }
    }
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .hexagon-items {
        ul {
            display: block;
        }
    }
}