.hexagon-items {
    ul {
        .image-wrapper {
            z-index: 2;
            position: relative;
            width: 116px;
            img {
                margin-left: 4px;
                margin-top: 4px;
            }
        }
        svg {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
        display: none;
        position: relative;
        width: 1152px;
        margin: 0 auto;
        li {
            position: absolute;
            width: 126px;
        }
        li:nth-child(1) {
            left: 93px;
            top: 81px;
        }
        li:nth-child(2) {
            right: 93px;
            top: 81px;
        }
        li:nth-child(3) {
            left: 0;
            top: 29px;
        }
        li:nth-child(4) {
            right: 0;
            top: 29px;
        }
    }
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .hexagon-items {
        ul {
            display: block;
        }
    }
}