.kodinn-hladbord {
	background: $color-grey-2 url(images/background-hladbord.jpg) no-repeat top center;
	padding: 115px 12px;
	.view-content {
		position: relative;
		overflow: hidden;
		text-align: center;
		.views-row {
			display: inline-block;
			position: relative;
			margin-bottom: 24px;
			> div {
				border: 6px solid $color-yellow;
				position: relative;
			}
			img {
				display: block;
			}
			.hl-button {
				display: none;
			}
			.title-bar {
				position: absolute;
				color: $color-white;
				width: 100%;
				bottom: 0;
				overflow: hidden;
				height: 49px;
				border-top: 1px solid rgba(255,255,255,0.62);
				background-color: rgba(0,0,0,0.64);
				line-height: 49px;
				p {
					color: $color-white;
				}
			}
		}
	}
}

/* Min width 400px */
@media only screen and (min-width: 400px) {
	.kodinn-hladbord {
		padding-left: 18px;
		padding-right: 18px;
	}
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
	.kodinn-hladbord {
		.view-content {
			.views-row {
				width: 50%;
				float: left;
				display: block;
			}
			.views-row:nth-child(odd) {
				padding-right: 12px;
			}
			.views-row:nth-child(even) {
				padding-left: 12px;
			}
		}
	}
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
	.kodinn-hladbord {
		padding-left: 0;
		padding-right: 0;
	}
}