.box-4-col {
    .views-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 24px;
         a {
            display: block;
            img  {
                display: block;
                border: 6px solid $color-blue;
            }
        }
         .title-bar {
            a {
                text-align: center;
                color: $color-white;
                text-decoration: none;
                padding-top: 10px;
                font-size: 16px;
                font-size: 1 rem;
            }
        }
    }
}

.box-4-col-subpages {
    .views-row {
        display: inline-block;
        position: relative;
        margin-bottom: 24px;
        p {
            margin-bottom: 0;
            line-height: inherit;
        }
        .field-content, .field-content a {
            display: block;
        }
        > div {
            border: 6px solid $color-blue;
            position: relative;
        }
        img {
            display: block;
            width: 100%;
            border: none !important;
        }
        .hl-button {
            display: none;
        }
        .title-bar {
            position: absolute;
            color: $color-white;
            width: 100%;
            bottom: 0;
            overflow: hidden;
            height: 49px;
            background-color: rgba(0,0,0,0.64);
            line-height: 49px;
            &:before {
                content: "";
                height: 1px;
                width: 100%;
                top: 0;
                position: absolute;
                left: 0;
                background: -moz-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.64) 10%, rgba(255,255,255,0.62) 50%, rgba(255,255,255,0.62) 90%, rgba(255,255,255,0.1) 100%);
                background: -webkit-linear-gradient(left, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.64) 10%,rgba(255,255,255,0.62) 50%,rgba(255,255,255,0.62) 90%,rgba(255,255,255,0.1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.64) 10%,rgba(255,255,255,0.62) 50%,rgba(255,255,255,0.62) 90%,rgba(255,255,255,0.1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1affffff',GradientType=1 );
            }
            p {
                color: $color-white;
            }
        }
    }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    .box-4-col {
        .views-row {
            float: left;
            width: 50%;
        }
        .views-row:nth-child(odd) {
            padding-right: 12px;
        }
        .views-row:nth-child(even) {
            padding-left: 12px;
        }
    }
}