.box-4-col {
    .views-row {
        position: relative;
        overflow: hidden;
         a {
            display: block;
            img  {
                display: block;
                border: 6px solid $color-blue;
            }
        }
         .title-bar {
            a {
                text-align: center;
                color: $color-white;
                text-decoration: none;
                padding-top: 10px;
                font-size: 16px;
                font-size: 1 rem;
            }
        }
    }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    .box-4-col {
        .views-row {
            float: left;
            width: 50%;
        }
        .views-row:nth-child(odd) {
            padding-right: 12px;
        }
        .views-row:nth-child(even) {
            padding-left: 12px;
        }
    }
}