/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */


body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 87.5%;
  max-width: 100%;
  margin: auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {}

.front #menu-bar{
  height: 788px;
  background:  url('/sites/all/themes/at_krakkaruv/images/tofraheimar.jpg') center center;
  background-size: cover;
  margin: 0;
}

/* =============================================================================
 *  Front page
/* =========================================================================== */
.front #block-block-1{
  padding-top: 20%;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-bottom: 70px;
}

.front #block-block-1 .krakkaruv-logo{
  width: 580px;
  height: 80px;
  background: url('../images/krakkaruv-logo-stort.png') no-repeat center center;
}

/* =============================================================================
 * Main menu
 * ========================================================================== */
#menu-bar a{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  font-weight: 400;
}

#menu-bar a{
  color: grey;
}

.front #menu-bar a{
  color: white;
}

.front #menu-bar ul{
  margin: 0;
}

#menu-bar a:hover{
  text-decoration: none;
}

nav#block-system-main-menu{
 ;
}

#menu-bar ul{
  display: block;
  text-align: center;
  margin: -115px 0 0 0;
  padding: 0;
}

#menu-bar li{
  display: inline-block;
  height: 180px;

}

#menu-bar li a{
  width: 120px;
  height: 120px;
  padding-top: 120px;
}

#menu-bar li.watch{
  background: #20439c url('../images/watch-button.png') no-repeat center center;
}

#menu-bar li.watch:hover{
  border-bottom: 5px solid #20439c;
}

#menu-bar li a.listen{
  background: #1eae52 url('../images/listen-button.png') no-repeat center center;
}

#menu-bar li.listen:hover{
  border-bottom: 5px solid #1eae52;
}

#menu-bar li a.play{
  background: #f6cb1a url('../images/play-button.png') no-repeat center center;
}

#menu-bar li.play:hover{
  border-bottom: 5px solid #f6cb1a;
}

#menu-bar li a.create{
  background: #aa344e url('../images/create-button.png') no-repeat center center;
}

#menu-bar li.create:hover{
  border-bottom: 5px solid #aa344e;
}

#menu-bar li a.worlds {
  background: #3cc6df url('../images/worlds-button.png') no-repeat center center;
}

#menu-bar li.worlds:hover{
  border-bottom: 5px solid #3cc6df;
}

#menu-bar li{
  margin: 1.5em;
}
/* =============================================================================
 *   Logo - not on front page
 * ========================================================================== */
.not-front #block-block-1{
  margin-top: 40px;
  margin-left: 20px;
  width: 70px;
}

.not-front .krakkaruv-logo{
  width: 70px;
  height: 70px;
  background: url('../images/krakkrauv-logo-litid.png') no-repeat 0 0;
}

/* =============================================================================
 *   Hlaðborð - Frontpage
 * ========================================================================== */

.pane-hladbord-nodes-panel-pane-1 .views-row{
  width: 25%;
  float: left;
  overflow: hidden;
}

.pane-hladbord-nodes-panel-pane-1 .views-row-1{
  width: 50%;
}

.pane-hladbord-nodes-panel-pane-1 .views-field-nothing{
  margin-top: -30px;
}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}

#skip-link a {
  background: #444;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

/* Left and right margin are set by the global gutter width */
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {}

div.warning {}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}

/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {}

.node-unpublished,
.comment-unpublished {}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

/*
 * Otherwise these elements will appear below the "Unpublished" text
 */
.lt-ie8 {}

.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {}
.maintenance-page .container {
  padding: 40px 0;
}

.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

.db-offline {}

.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}

.db-offline div.messages {
  margin: 20px 0 0;
}

.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Games
 * ========================================================================== */
iframe{
  border: none;
}

.game-landscape{
  width: 100%;
  height: 600px;
}

.game-portrait{
  height: 600px;
  width: 400px;
}

.game-pad{
  width: 100%;
  height: 885px;
}

.indiara-and-the-skull-gold{
  height: 770px;
}

