/*
Error: Invalid CSS after "...    font-size: ": expected expression (e.g. 1px, bold), was ";"
        on line 75 of C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/components/_christmas_page.scss
        from line 39 of C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/components/_imports.scss
        from line 29 of C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/screen.scss

70:     padding-top: 100px;
71:     padding-borrom: 160px;
72:     .panels-ipe-portlet-content {
73:       h2 {
74:         color: white;
75:         font-size: ;
76:       }
77:       label, #edit-submitted-myndband-upload, .description {
78:         color: white;
79:       }
80:     }

Backtrace:
C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/components/_christmas_page.scss:75
C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/components/_imports.scss:39
C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/screen.scss:29
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/script/lexer.rb:221:in `expected!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/script/parser.rb:571:in `assert_expr'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/script/parser.rb:62:in `parse'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1023:in `sass_script'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:876:in `value!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:749:in `block in try_declaration'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1137:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1137:in `rethrow'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:762:in `try_declaration'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:692:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:309:in `to_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:326:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...    font-size: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 75 of C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/components/_christmas_page.scss\A         from line 39 of C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/components/_imports.scss\A         from line 29 of C:/Users/franze/hosts/krakkaruv/sites/all/themes/at_krakkaruv/ruv_sass/screen.scss\A \A 70:     padding-top: 100px;\A 71:     padding-borrom: 160px;\A 72:     .panels-ipe-portlet-content {\A 73:       h2 {\A 74:         color: white;\A 75:         font-size: ;\A 76:       }\A 77:       label, #edit-submitted-myndband-upload, .description {\A 78:         color: white;\A 79:       }\A 80:     }"; }
