* { @include box-sizing(); }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Teko:500);

html, body {
	height: 100%;
}

body {
    background: $color-black-2 url(images/background-small.jpg) no-repeat top center;
    font-family: $font-base;
    overflow-x: hidden;
    img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}

.max-width, .max-width-pane-content .pane-content, .max-width-pane-content .pane-title {
     max-width: 1152px;
     margin: 0 auto;
     position: relative;
     overflow: hidden;
}

.max-width-pane-content {
    min-width: 100% !important;
}

.bg-black {
    background-color: $color-black-4;
}

.bg-image {
    background: $color-grey-2 url(images/background-hladbord.jpg) no-repeat top center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-headline;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

.pane-content {
    p {
        line-height: 1.6;
        margin-bottom: 24px;
    }
    .submitted {
        display: none;
    }
}

.color-white {
    h1,h2,h3,h4,h5,h6,p,label, a {
         color: $color-white;
    }
}

.page-node {
    .region-content {
        h1,h2,h3,h4,h5,h6,p,label {
            color: $color-white;
        }
    }
}

#page-wrapper {
    position: relative;
    height: 100%;
}

#main-wrapper {
    position: relative;
    overflow: hidden;
}

.padding {
    padding: 66px 12px;
}

.padding-top {
    /*padding-top: 88px;*/
}

.padding-bottom {
    /*padding-bottom: 88px;*/
}

.border-top {
    border-top: 14px solid $color-yellow;
}

.border-bottom {
    border-bottom: 14px solid $color-yellow;
}

.padding-right {
    /*padding-right: 12px;*/
}

.padding-left {
    /*padding-left: 12px;*/
}

.text-align-center {
    text-align: center;
}

.webform-submit {
    background-color: $color-pink; 
    color: $color-white;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    padding: 12px 36px 8px;
    display: inline-block;
    border: 1px solid $color-white;
    cursor: pointer;
}


/* Min width 400px */
@media only screen and (min-width: 400px) {
    .bg-black {
        /*padding-left: 18px;
        padding-right: 18px;*/
    }
    .padding {
        padding-left: 18px;
        padding-right: 18px;
    }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    body {
        background-image: url(images/background-medium.jpg);
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
   .border-bottom {
        border-bottom: 18px solid $color-yellow;
    }
    .padding {
        padding-top: 88px;
        padding-bottom: 88px;
    }
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
	body {
        background-image: url(images/background-large.jpg);
    }
    .border-bottom {
        border-bottom: 24px solid $color-yellow;
    }
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .bg-black {
        /*padding-left: 0;
        padding-right: 0;*/
    }
    .padding {
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
}

