* { @include box-sizing(); }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Teko:500);

html, body {
	height: 100%;
}

body {
    background: $color-black-2 url(images/background-small.jpg) no-repeat top center;
    font-family: $font-base;
    overflow-x: hidden;
    position: relative;
    img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}

.max-width, .max-width-pane-content .pane-content {
     max-width: 1152px;
     margin: 0 auto;
}

.bg-black {
    background-color: $color-black-4;
    padding: 88px 12px;
}

.color-white p, .color-white label, .color-white  a {
    color: $color-white;
}

#page-wrapper {
    position: relative;
    height: 100%;
}

.padding-top {
    padding-top: 88px;
}

.padding-bottom {
    padding-bottom: 88px;
}

.border-bottom {
    border-bottom: 14px solid $color-yellow;
}

.text-align-center {
    text-align: center;
}

/* Min width 400px */
@media only screen and (min-width: 400px) {
    .bg-black {
        padding-left: 18px;
        padding-right: 18px;
    }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    body {
        background-image: url(images/background-medium.jpg);
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
   .border-bottom {
        border-bottom: 18px solid $color-yellow;
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
	body {
        background-image: url(images/background-large.jpg);
    }
    .border-bottom {
        border-bottom: 24px solid $color-yellow;
    }
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .bg-black {
        padding-left: 0;
        padding-right: 0;
    }
}

