* { @include box-sizing(); }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Teko:500);

html, body {
	width: 100%;
	height: 100%;
	font-family: $font-base;
    font-size: 16px;
}

body {
    background: $color-black-2 url(images/background-small.jpg) no-repeat top center;
    img {
        width: 100%;
        height: auto;
    }
}

#main-wrapper {
    padding-top: 103px;
    padding-bottom: 103px;
}

.max-width {
     max-width: 1152px;
     margin: 0 auto;
}

#page-wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    body {
        background-image: url(images/background-medium.jpg);
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
	body {
        background-image: url(images/background-large.jpg);
    }
}

