.page-node {
    .region-content {
        .panel-pane {
            max-width: 1152px;
            margin: 0 auto;
            padding: 66px 12px;
        }
    }
}

/* Min width 400px */
@media only screen and (min-width: 400px) {
    .page-node {
        .region-content {
            .panel-pane {
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .page-node {
        .region-content {
            .panel-pane {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}