.page-node {
    .region-content {
        padding: 168px 12px 88px;
        background: $color-grey-2 url(images/background-hladbord.jpg) no-repeat top center;
        .panel-pane {
            max-width: 1152px;
            margin: 0 auto;
        }
    }
}

/* Min width 400px */
@media only screen and (min-width: 400px) {
    .page-node {
        .region-content {
            .panel-pane {
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }
}

/* Min width 1188px */
@media only screen and (min-width: 1188px) {
    .page-node {
        .region-content {
            .panel-pane {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}