#mini-panel-um_kodann_2_col   {
    .inside {
        margin: 0;
    }
    .panel-panel {
        float: none;
        width: 100%;
    }
    .panel-col-first  {
        margin-bottom: 42px;
        .jwplayer {
            border: 6px solid $color-yellow;
        }
    }
    .webform-component {
        .form-text {
            width: 100%;
            height: 42px;
            border: 1px solid $color-white;
            background-color: rgba(9,22,32,0.42);
            color: $color-white;
            font-size: 16px;
            font-size: 1rem;
            padding-left: 12px;
            padding-right: 12px;
        }
        .form-text::-webkit-input-placeholder,
        .form-text:-moz-placeholder,
        .form-text::-moz-placeholder,
        .form-text:-ms-input-placeholder {
            color: color-white;
            opacity: 1;
        }
        .form-item {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
    #mini-panel-um_kodann_2_col   {
    
    .panel-panel {
            float: left;
            width: 50%;
        }
    }
    .panel-col-first  {
        margin-bottom: 0;
        padding-right: 12px;
    }
    .panel-col-last  {
        padding-left: 12px;
    }
}