/* Colors */
$color-white:                         #ffffff;
$color-red:                           #be2c37;
$color-black:                         #000000;
$color-black-2:                       #0a1721;
$color-black-3:                       #101111;
$color-black-4:                       #091620;
$color-grey:                          #2a3842;
$color-green:                         #96e6b3;

/* Fonts */
$font-base:                           'Open Sans', sans-serif;
$font-headline:                       'Teko', sans-serif;