/* Colors */
$color-white:                         #ffffff;
$color-red:                           #be2c37;
$color-black:                         #101111;

/* Fonts */
$font-base:                           'Open Sans', sans-serif;
$font-headline:                       'Teko', sans-serif;