/* Colors */
$color-white:                         #ffffff;
$color-red:                           #be2c37;
$color-black:                         #000000;
$color-black-2:                       #0a1721;
$color-black-3:                       #101111;
$color-black-4:                       #091620;
$color-grey:                          #2a3842;
$color-grey-2:                        #2a3741;
$color-green:                         #96e6b3;
$color-yellow:                        #fcfa8c;
$color-blue:                          #a3d9ff;
$color-pink:                          #b8336a;

/* Fonts */
$font-base:                           'Open Sans', sans-serif;
$font-headline:                       'Teko', sans-serif;