.page-taxonomy-term-1002 {
    .field-name-field-image-banner {
        text-align: center;
        height: 350px;
        background: url(images/aevar-banner-bg.jpg) repeat-x center center;
        img {
            width: auto;
            margin-left: -1000px;
        }
    }
}

/* Min width 700px */
@media only screen and (min-width: 700px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -748px;
            }
        }
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -256px;
            }
        }
    }
}

/* Min width 1100px */
@media only screen and (min-width: 1100px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -240px;
            }
        }
    }
}

/* Min width 1200px */
@media only screen and (min-width: 1200px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -200px;
            }
        }
    }
}

/* Min width 1300px */
@media only screen and (min-width: 1300px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -160px;
            }
        }
    }
}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: 0;
            }
        }
    }
}