.aevar-floskuskeyti {
    .ruv-at-panel {
        background-color: #222c2f;
    }
    .region-two-66-33-second {
        .video-pane {
            padding: 0px;
            border: 5px solid rgba(255, 255, 255, 0.6);
        }
    }
    .region-wrapper {
        position: relative;
        overflow: hidden;
        color: #FFFFFF;
        padding: 60px 20px;
        h2, h3, h4, h5, h6 {
            font-family: $font-base;
            line-height: 1.2;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 25px;
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .full-width {
        position: relative;
        overflow: hidden;
        background-color: #2f3f7a;
        border-bottom: 1px solid #FFFFFF;
        .block-inner {
            max-width: 1140px;
            position: relative;
            margin: 0 auto;
            padding: 60px 20px;
        }
        .block-content {
            position: relative;
            padding-bottom: 75%;
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                border: 5px solid rgba(255,255,255,0.3);
            }
        }
        width: 100%;
    }
    .region-two-66-33-second {
        width: 100%;
    }
}

.page-taxonomy-term-1002 {
    #columns {
         background-color: #222c2f;
    }
    .view-node-list {
        .episode-link {
            display: block;
            overflow: hidden;
            position: relative;
        }
        .field-content {
            display: block;
            border: 1px solid white;
            overflow: hidden;
        }
    }
}

.page-taxonomy-term-1002 {
    #footer {
        background-color: #222c2f;
        .icon, .inline, a {
            color: white;
        }
        #block-block-2 {
            border-color: white;
        }
    }
}

.page-taxonomy-term-1002 {
    .row-1 {
        margin-top: 18px;
        margin-bottom: 22px;
    }
}

.page-taxonomy-term-1002 {
    .worlds-diary {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background-image: none;
        background-color: #8F5082;
        padding-top: 50px;
        padding-bottom: 41px;
        .views-field-title, .views-field-field-summary {
            .field-content {
                border: none;
            }
        }
    }
    #webform-client-form-1379 {
        .webform-submit {
            color: white;
            background-color: transparent;
            border: 1px solid white;
            padding: 10px 30px;
        }
    }
}

.page-taxonomy-term-1002 {
    .region-inner {
        background-color: #222c2f;
    }
}

.page-taxonomy-term-1002 {
    .pane-title  {
        color: white;
    }
}

.page-taxonomy-term-1002 {
    .pager-load-more a {
        border-color: white;
        color: white;
    }
}

.page-taxonomy-term-1002 {
    .pane-node-list-panel-pane-6 {
        margin-bottom: 73px !important;
    }
}

.page-taxonomy-term-1002 {
    .field-name-field-image-banner {
        text-align: center;
        height: 350px;
        margin: 0;
        background: url(images/aevar-banner-bg.jpg) repeat-x center center;
        img {
            width: auto;
            margin-left: -1000px;
        }
    }
}

.page-taxonomy-term-1002 {
    .pane-taxonomy-term-field-image-banner {
        border-bottom: 1px solid #FFF;
        margin-bottom: 42px;
    }
}

/* Min width 700px */
@media only screen and (min-width: 700px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -748px;
            }
        }
    }
}

/* Min width 770px */
@media only screen and (min-width: 770px) {
    .aevar-floskuskeyti {
        .region-two-66-33-first {
            padding-right: 10px;
        }
        .region-two-66-33-second {
            padding-left: 10px;
        }
    }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -256px;
            }
        }
    }
}

/* Min width 1100px */
@media only screen and (min-width: 1100px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -240px;
            }
        }
    }
}

/* Min width 1180px */
@media only screen and (min-width: 1180px) {
    .aevar-floskuskeyti {
        .full-width {
            .block-inner {
                padding-right: 0;
                padding-left: 0;
            }
        }
        .region-wrapper {
            padding-right: 0;
            padding-left: 0;
        }
        .region-two-66-33-first {
            padding-right: 20px;
        }
        .region-two-66-33-second {
            padding-left: 20px;
        }
    }
}

/* Min width 1200px */
@media only screen and (min-width: 1200px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -200px;
            }
        }
    }
}

/* Min width 1300px */
@media only screen and (min-width: 1300px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: -160px;
            }
        }
    }
}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {
  .page-taxonomy-term-1002 {
        .field-name-field-image-banner {
            img {
                width: auto;
                margin-left: 0;
            }
        }
    }
}