.page-taxonomy-term-1002 {
    .field-name-field-image-banner {
        text-align: center;
        height: 350px;
        background: url(images/aevar-banner-bg.jpg) repeat-x center center;
        img {
            width: auto;
        }
    }
}