.banner-image{
  height: 200px;
  width: 100%;
  /** Background size is not available as shorthand for Chrome and Safari */
  background-size: cover !important;
  margin-bottom: 40px;
}

.play-banner-image{
  background: url('/sites/all/themes/at_krakkaruv/images/leikir.jpg') center center;
}

.create-banner-image{
  background: url('/sites/all/themes/at_krakkaruv/images/skapa.jpg') center center;
}

.ruv-custom-banner{
  background-color: $color-worlds;
  padding: 10px;

  .news-banner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  img{
    max-width: 100%;
  }
}
