.banner-image{
  height: 200px;
  width: 100%;
  /** Background size is not available as shorthand for Chrome and Safari */
  background-size: cover !important;
  margin-bottom: 40px;
}

.play-banner-image{
  background: url('/sites/all/themes/at_krakkaruv/images/leikir.jpg') center center;
}

.create-banner-image{
  background: url('/sites/all/themes/at_krakkaruv/images/skapa.jpg') center center;
}

.ruv-custom-banner{
  background-color: $color-worlds;
  padding-top: 15px;

  .news-banner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  img{
    max-width: 90%;
  }
}

/* Min width 581px */
@media only screen and (min-width: 581px) {
  .ruv-custom-banner{
    padding-top: 25px;
    img{
      max-width: 420px;
    }
  }
}

/* Min width 1024px */
@media only screen and (min-width: 1024px) {
  .ruv-custom-banner{
    padding-top: 52px;
  }
}
