/*
==========================================================
  Page Layout for Christmas Subpages
==========================================================
*/

.page-jol {
  .pane-term-list-panel-pane-1 {
    margin-top: 42px;
    margin-bottom: 160px !important;
    .pane-title {
      color: white;
    }
    .view-content {
      .views-field {
        border: 1px solid white;
        position: relative;
      }
      a {
        display: block;
      }
      img {
        display: block;
        margin: 0;
      }
      .ruv-item-newest .title-bar {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 14px 12px;
      }
    }
  }
}
.page-jol-banner {
  .radio-player-wrapper {
    background: url(images/christmas/banner-subpages-small.jpg) no-repeat top center;
    height: 300px;
    border-bottom: 1px solid white;
    .radio-player-inner-wrapper {
      width: 80%;
      max-width: 1100px;
      padding-top: 259px;
      position: relative;
      overflow: hidden;
    }
  }
  .pane-custom.pane-1 .block-content {
    height: 300px;
    background: url(images/christmas/banner-subpages-bg-repeat.jpg) repeat-x top center;
  }
  .radio-player-logo {
    display: none;
  }
}

/*
==========================================================
  Page Layout for krakkaruv.is/jol
==========================================================
*/
.page-jol {
  .warning {
    display: none;
  }
  background-color: #dc002a;
  #menu-bar {
    background-color: white;
    padding-top: 33px;
    padding-bottom: 6px;
    position: relative;
    z-index: 4;
    &:after {
      height: 80px;
      width: 100%;
      background-color: #008000;
      visibility: visible;
      position: absolute;
      z-index: -1;
      background: url(images/christmas/snowballs.png) no-repeat top center;
    }
    .block-title {
      position: absolute;
    }
    .menu {
      margin: 0;
    }
  }
  .worlds-header {
    position: absolute;
    overflow: hidden;
    height: 0;
  }
  #footer {
    background-color: white;
    position: relative;
    &:before {
      position: absolute;
      height: 224px;
      width: 100%;
      background: url(images/christmas/trees-bg.png) repeat-x top center;
      visibility: visible;
      left: 0;
      top: -140px;
      content: "";
    }
    &:after {
      position: fixed;
      height: 800px;
      width: 100%;
      background-color: white;
      visibility: visible;
      left: 0;
    }
    .region-footer {
      position: relative;
      z-index: 4;
    }
  }
  #columns {
    padding-bottom: 208px;
  }
}
.christmas-wishes {
  #columns {
    .region-two-brick-left-above {
      border: 1px solid white;
      margin-bottom: 30px;
    }
    .region-two-brick-right-above {
      .pane-title {
        font-size: 26px;
        /*font-size: 36px;*/
      }
    }
    form {
      .description {
        display: none;
      }
      input {
        width: 100%;
        border: none;
      }
      .form-required {
        color: white;
      }
    }
    .panel-row {
      margin-top: 42px;
     }
    .region-two-brick-right-above {
      h2 {
        color: white;
        font-size: 36px;
      }
      label, #edit-submitted-myndband-upload, .description {
        color: white;
      }
    }
  }
  .hero-image {
    background: url(images/christmas/banner-subpages-bg-repeat.jpg) repeat-x top center;
    height: 301px;
    border-bottom: 1px solid white;
    .inner {
      height: 300px;
      background: url(images/christmas/banner-subpages-small.jpg) no-repeat top center;
    }
  }
}


/*
==========================================================
  Page Layout for krakkaruv.is/jol/joladagatal
==========================================================
*/

.page-jol-joladagatal {
  #columns {
    padding-top: 112px;
    margin-bottom: 160px;
  }
  #page-title {
    color: #FFF;
    position: relative;
    text-align: center;
    font-size: 34px;
    line-height: 0;
    height: 0;
    visibility: hidden;
  }
}


/* Min width 768px */
@media only screen and (min-width: 768px) {
  .page-jol {
    #columns {
      padding-bottom: 0;
    }
  }
  .christmas-wishes {
    #columns {
      padding-bottom: 160px;
    }
    .hero-image {
      .inner {
        background: url(images/christmas/banner-subpages-medium-wishes.jpg) no-repeat top center;
      }
    }
  }
  .page-jol-banner {
    .radio-player-wrapper {
      background: url(images/christmas/banner-subpages-medium-radio.jpg) no-repeat top center;
    }
  }
}

/* Min width 1100px */
@media only screen and (min-width: 1100px) {
  .page-jol-banner {
    .radio-player-wrapper {
      background: url(images/christmas/banner-subpages-large-radio-4.jpg) no-repeat top center;
    }
  }
  .christmas-wishes {
    .hero-image {
      .inner {
        background: url(images/christmas/banner-subpages-large-wishes.jpg) no-repeat top center;
      }
    }
  }
}

