.view-dagatal {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  height: 940px;
  .title {
    height: 0;
    width: 0;
    text-indent: -9999em;
  }
  .views-row {
    position: relative;
    height: 170px;
    width: 66px;
    background: url(images/christmas/bow.png) no-repeat scroll 8px -62px;
    .date {
      position: absolute;
      width: 66px;
      height: 66px;
      text-align: center;
      left: 0;
      font-size: 28px;
      font-weight: 700;
      font-family: $font-base;
      line-height: 66px;
      color: white;
      z-index: 4;
    }
    .christmas-ball, .christmas-ball-2, .christmas-ball-bg {
      height: 66px;
      width: 66px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .christmas-ball {
      opacity: 0;
      z-index: 3;
    }
    .christmas-ball-2 {
      background: #d11aa3;
      background: -moz-linear-gradient(-45deg, #d11aa3 0%, #86216d 100%);
      background: -webkit-linear-gradient(-45deg, #d11aa3 0%,#86216d 100%);
      background: linear-gradient(135deg, #d11aa3 0%,#86216d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d11aa3', endColorstr='#86216d',GradientType=1 );
      opacity: 1;
      z-index: 2;
    }
    .christmas-ball-bg {
      height: 71px;
      width: 71px;
      background-color: #FFF;
      z-index: 1;
      left: -2px;
      bottom: -4px;
    }
    a,.unpublished {
      display: block;
      position: absolute;
      width: 66px;
      height: 66px;
      left: 0;
      bottom: 0;
      .christmas-ball, .christmas-ball-bg {
        display: block;
        text-indent: -9999em;
      }
    }

    .unpublished {
      .date {
        opacity: 0.25;
      }
    }
  }
  .views-row-4, .views-row-9, .views-row-21, .views-row-22 {
    .christmas-ball-2 {
      background: #d11aa3;
      background: -moz-linear-gradient(-45deg, #d11aa3 0%, #86216d 100%);
      background: -webkit-linear-gradient(-45deg, #d11aa3 0%,#86216d 100%);
      background: linear-gradient(135deg, #d11aa3 0%,#86216d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d11aa3', endColorstr='#86216d',GradientType=1 );
    }
  }
  .views-row-10, .views-row-11, .views-row-17 {
    .christmas-ball-2 {
      background: #61bff6;
      background: -moz-linear-gradient(-45deg, #61bff6 0%, #2f97d4 100%);
      background: -webkit-linear-gradient(-45deg, #61bff6 0%,#2f97d4 100%);
      background: linear-gradient(135deg, #61bff6 0%,#2f97d4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61bff6', endColorstr='#2f97d4',GradientType=1 );
    }
  }
  .views-row-3, .views-row-15, .views-row-16 {
    .christmas-ball-2 {
      background: #b8ea2e;
      background: -moz-linear-gradient(-45deg, #b8ea2e 0%, #99c422 100%);
      background: -webkit-linear-gradient(-45deg, #b8ea2e 0%,#99c422 100%);
      background: linear-gradient(135deg, #b8ea2e 0%,#99c422 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ea2e', endColorstr='#99c422',GradientType=1 );
    }
  }
  .views-row-5, .views-row-13, .views-row-23, .views-row-24 {
    .christmas-ball-2 {
      background: #ec1317;
      background: -moz-linear-gradient(-45deg, #ec1317 0%, #c11518 100%);
      background: -webkit-linear-gradient(-45deg, #ec1317 0%,#c11518 100%);
      background: linear-gradient(135deg, #ec1317 0%,#c11518 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1317', endColorstr='#c11518',GradientType=1 );
    }
  }
  .views-row-1, .views-row-6, .views-row-20 {
    .christmas-ball-2 {
      background: #f1c807;
      background: -moz-linear-gradient(-45deg, #f1c807 0%, #d4b006 100%);
      background: -webkit-linear-gradient(-45deg, #f1c807 0%,#d4b006 100%);
      background: linear-gradient(135deg, #f1c807 0%,#d4b006 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c807', endColorstr='#d4b006',GradientType=1 );
    }
  }
  .views-row-8, .views-row-18 {
    .christmas-ball-2 {
      background: #1592d0;
      background: -moz-linear-gradient(-45deg, #1592d0 0%, #1174a6 100%);
      background: -webkit-linear-gradient(-45deg, #1592d0 0%,#1174a6 100%);
      background: linear-gradient(135deg, #1592d0 0%,#1174a6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1592d0', endColorstr='#1174a6',GradientType=1 );
    }
  }
  .views-row-2, .views-row-14, .views-row-19 {
    .christmas-ball-2 {
      background: #d39f58;
      background: -moz-linear-gradient(-45deg, #d39f58 0%, #b88b4d 100%);
      background: -webkit-linear-gradient(-45deg, #d39f58 0%,#b88b4d 100%);
      background: linear-gradient(135deg, #d39f58 0%,#b88b4d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d39f58', endColorstr='#b88b4d',GradientType=1 );
    }
  }
  .views-row-7, .views-row-12 {
    .christmas-ball-2 {
      background: #13a449;
      background: -moz-linear-gradient(-45deg, #13a449 0%, #0d7534 100%);
      background: -webkit-linear-gradient(-45deg, #13a449 0%,#0d7534 100%);
      background: linear-gradient(135deg, #13a449 0%,#0d7534 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a449', endColorstr='#0d7534',GradientType=1 );
    }
  }
  .views-row {
    display: none;
  }
  .views-row-9 {
    position: absolute;
    top: -114px;
    left: 32px;
    display: block;
    height: 230px;
    background-position: 8px -2px;
  }
  .views-row-15 {
    position: absolute;
    top: -114px;
    right: 32px;
    display: block;
    height: 230px;
    background-position: 8px -2px;
  }
  .views-row-17 {
    position: absolute;
    top: -140px;
    left: 50%;
    margin-left: -33px;
    display: block;
    height: 230px;
    background-position: 8px -2px;
  }
  .views-row-13 {
    position: absolute;
    top: 88px;
    left: 32px;
    display: block;
  }
  .views-row-20 {
    position: absolute;
    top: 88px;
    right: 32px;
    display: block;
  }
  .views-row-22 {
    position: absolute;
    top: 62px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
  .views-row-11 {
    position: absolute;
    top: 232px;
    left: 32px;
    display: block;
  }
  .views-row-1 {
    position: absolute;
    top: 232px;
    right: 32px;
    display: block;
  }
  .views-row-5 {
    position: absolute;
    top: 206px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
  .views-row-16 {
    position: absolute;
    top: 375px;
    left: 32px;
    display: block;
  }
  .views-row-24 {
    position: absolute;
    top: 375px;
    right: 32px;
    display: block;
  }
  .views-row-8 {
    position: absolute;
    top: 349px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
  .views-row-19 {
    position: absolute;
    top: 518px;
    left: 32px;
    display: block;
  }
  .views-row-2 {
    position: absolute;
    top: 518px;
    right: 32px;
    display: block;
  }
  .views-row-21 {
    position: absolute;
    top: 492px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
  .views-row-10 {
    position: absolute;
    top: 661px;
    left: 32px;
    display: block;
  }
  .views-row-18 {
    position: absolute;
    top: 661px;
    right: 32px;
    display: block;
  }
  .views-row-14 {
    position: absolute;
    top: 635px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
  .views-row-3 {
    position: absolute;
    top: 805px;
    left: 32px;
    display: block;
  }
  .views-row-7 {
    position: absolute;
    top: 805px;
    right: 32px;
    display: block;
  }
  .views-row-12 {
    position: absolute;
    top: 779px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
  .views-row-4 {
    position: absolute;
    top: 949px;
    left: 32px;
    display: block;
  }
  .views-row-6 {
    position: absolute;
    top: 949px;
    right: 32px;
    display: block;
  }
  .views-row-23 {
    position: absolute;
    top: 923px;
    left: 50%;
    margin-left: -33px;
    display: block;
  }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
  .view-dagatal {
    height: 880px;
    max-width: 754px;
    background: url(images/christmas/christmas-tree.png) no-repeat scroll center top;
  }
  .views-row {
    background: none !important;
  }
  .view-content {
    .views-row-9 {
      top: -71px;
      left: 344px;
    }
    .views-row-17 {
      top: 7px;
      left: 342px;
    }
    .views-row-22 {
      top: 286px;
      left: 332px;
    }
    .views-row-13 {
      top: 152px;
      left: 293px;
    }
    .views-row-15 {
      top: 26px;
      right: 299px;
    }
    .views-row-20 {
      top: 167px;
      right: 297px;
    }
    .views-row-5 {
      top: 251px;
      left: 497px;
    }
    .views-row-11 {
      top: 279px;
      left: 388px;
    }
    .views-row-7 {
      top: 244px;
      right: 460px;
    }
    .views-row-1 {
      top: 392px;
      right: 523px;
    }
    .views-row-16 {
      top: 449px;
      left: 251px;
    }
    .views-row-24 {
      top: 395px;
      right: 360px;
    }
    .views-row-8 {
      top: 446px;
      left: 438px;
    }
    .views-row-19 {
      top: 385px;
      left: 472px;
    }
    .views-row-21 {
      top: 424px;
      left: 589px;
    }
    .views-row-4 {
      top: 576px;
      left: 79px;
    }
    .views-row-14 {
      top: 531px;
      left: 200px;
    }
    .views-row-10 {
      top: 617px;
      left: 221px;
    }
    .views-row-6 {
      top: 557px;
      right: 410px;
    }
    .views-row-12 {
      top: 557px;
      left: 405px;
    }
    .views-row-12 {
      top: 559px;
      left: 408px;
    }
    .views-row-2 {
      top: 634px;
      right: 245px;
    }
    .views-row-3 {
      top: 556px;
      left: 471px;
    }
    .views-row-23 {
      top: 519px;
      left: 589px;
    }
    .views-row-18 {
      top: 584px;
      right: 70px;
    }
  }
}