/*
==========================================================
  Page Layout for Christmas Subpages
==========================================================
*/
.page-jol-banner {
  .radio-player-wrapper {
    background: url(images/christmas/banner-subpages-small.jpg) no-repeat top center;
  }
}

/*
==========================================================
  Page Layout for krakkaruv.is/jol
==========================================================
*/
.page-jol {
  .warning {
    display: none;
  }
  background-color: #dc002a;
  #menu-bar {
    background-color: white;
    padding-top: 33px;
    padding-bottom: 6px;
    position: relative;
    z-index: 4;
    &:after {
      height: 80px;
      width: 100%;
      background-color: #008000;
      visibility: visible;
      position: absolute;
      z-index: -1;
      background: url(images/christmas/snowballs.png) no-repeat top center;
    }
    .block-title {
      position: absolute;
    }
    .menu {
      margin: 0;
    }
  }
  .worlds-header {
    position: absolute;
    overflow: hidden;
    height: 0;
  }
  #footer {
    background-color: white;
    position: relative;
    &:before {
      position: absolute;
      height: 224px;
      width: 100%;
      background: url(images/christmas/trees-bg.png) repeat-x top center;
      visibility: visible;
      left: 0;
      top: -140px;
      content: "";
    }
    &:after {
      position: fixed;
      height: 800px;
      width: 100%;
      background-color: white;
      visibility: visible;
      left: 0;
    }
    .region-footer {
      position: relative;
      z-index: 4;
    }
  }
  #columns {
    padding-bottom: 208px;
  }
}
.christmas-wishes {
  #columns {
    padding-top: 100px;
    padding-bottom: 160px;
    .region-two-brick-right-above {
      h2 {
        color: white;
        font-size: 36px;
      }
      label, #edit-submitted-myndband-upload, .description {
        color: white;
      }
    }
  }
}

/*
==========================================================
  Page Layout for krakkaruv.is/jol/joladagatal
==========================================================
*/

.page-jol-joladagatal {
  #columns {
    padding-top: 112px;
    margin-bottom: 160px;
  }
  #page-title {
    color: #FFF;
    position: relative;
    text-align: center;
    font-size: 34px;
    line-height: 0;
    height: 0;
    visibility: hidden;
  }
}

/*
==========================================================
  Page Layout for krakkaruv.is/jol
==========================================================
*/

/* Min width 768px */
@media only screen and (min-width: 768px) {
  .page-jol {
    #columns {
      padding-bottom: 0;
    }
  }
  .christmas-wishes {
    #columns {
      padding-bottom: 160px;
    }
  }
}