.contact-us{
  background-color: $color-messages-background;
  padding: 0 50px 50px;

  h2{
    color: $color-messages-headline;
  }

  .block-inner{
    max-width: $max-width;
    margin: auto;
  }

  h2{
    width: 48%;
    margin-right: 2%;
    float: left;

    @include breakpoint($mobile-size){
      width: 100%;
      font-size: 24px;
      text-align: center;
    }
  }

  .block-content {
    width: 50%;
    float: left;

    input {
      width: 100%;
    }

    input[type="submit"] {
      width: 30%;
      transition: all 0.3s ease-in-out;
      color: #FFF;

      @include breakpoint($mobile-size) {
        width: 35%;
      }
    }

    input[type="submit"]:hover {
      background-color: #34c6c6; 
      border: 1px solid #34c6c6;
      color: white;
      cursor:pointer;
    }

    textarea {
      width: 100%;
    }

    @include breakpoint($mobile-size) {
      width: 100%;
    }
  }
}
