.node-type-faersla{
  font-family: $font-base;
  font-weight: 300;

  .two-66-33{
    max-width: 1180px;
    margin: auto;

    h1, h2{
      font-family: $font-base;
      font-weight: 400;
    }

    h1{
      font-size: 46px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    h2{
      font-size: 30px;
      line-height: 36px;
    }

    .region-two-66-33-first{

      img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }

      .text{
        padding: 0 20px;
      }
    }

    .region-two-66-33-second{
       padding-left: 25px;

      .ruv-item{
        width: 100%;
        padding-right: 20px;
      }
    }
  }

  p{
    margin-bottom: 20px;
  }
}
