.taxonomy-forsetakosningar-2016, .node-custom-banners {
    .paragraphs-item-wrapper:before,
    .paragraphs-item-wrapper:after {
        display: none;
    }
}

.taxonomy-forsetakosningar-2016 .pane-node-title {
    background-color: #30536b;
}

.taxonomy-forsetakosningar-2016 #block-system-main .pane-node-title .block-content h2 {
    padding: 15px 0 22px 0;
    font-size: 36px;
    font-family: "Open Sans",sans-serif;
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
    .forsetakosningar-2016 {
        .absolute-image-93 {
            width: 90%;
            background-size: contain;
            background-position: center center;
            left: 5%;
        }
    }
}