/* Min width 768px */
@media only screen and (min-width: 768px) {
    .forsetakosningar-2016 {
        .absolute-image-93 {
            width: 90%;
            background-size: contain;
            background-position: center center;
            left: 5%;
        }
    }
}