/* =============================================================================
 *  Front page
/* =========================================================================== */
.front{
  #menu-bar{
    padding-top:15%;
  }

  #block-block-1{
    text-align: center;
    width: 70%;
    margin: 0 auto 50px;

    img{
      width: 60%;
    }
  }

  #block-block-3{
    display: none;
  }
}
