/* =============================================================================
 *  Front page
/* =========================================================================== */
.front{
  #menu-bar{
    /*padding-top:15%;*/
    height: 390px;
    background: url('/sites/all/themes/at_krakkaruv/css/images/christmas/front-chrstmas-hero-image-small2.jpg') no-repeat top center;
  }

  #block-block-1{
    text-align: center;
    width: 70%;
    margin: 0 auto 50px;
    padding-top:15%;

    img{
      width: 60%;
    }
  }

  #block-block-3{
    display: none;
  }
}

/*
 * the bottomblocks .two-50 contains the small contact form and the "about" (fyrir fullorðna)
 */
#front-bottom-mini-panel{
  background-color: $color-messages-background;
  padding: 0 40px;

  .two-50{
    max-width: $max-width;
    margin:0 auto;

    .region{
      width: 50%;
      float: left;
      clear: none;

      @include breakpoint($mobile-size){
        width: 100%;
      }
    }
  
  
  .block-inner {
	 h2 {
		font-size: 36px;
		line-height: 48px;

       @include breakpoint($mobile-portrait-max){
         font-size: 24px;
         line-heigth: 36px;
       }
	 }
  }  
  
  h2{
    color: $color-messages-headline;
    padding-bottom: 10px;
  }

  h3,
  h3 * {
    color: white;
    font-size: 24px;
    @include breakpoint($mobile-size){
       text-align: center;
  	}
  }
  
  h2{
    margin-right: 2%;

    @include breakpoint($mobile-size){
      width: 100%;
      font-size: 24px;
      text-align: center;
    }
  }
  
  .region-two-50-first{
    .block-content
    {
      padding-right:30px;

      @include breakpoint($mobile-size){
        padding-right: 0px;
      }
    }
  }
  
  .region-two-50-second{
    @include breakpoint($mobile-size){
      padding-left: 0px;
    }
 
  }
  
  .block-content{
  
  	p{
      padding-top: 11px;
      margin: 1em 0 1em 0;
      color: white;
      font-family: "Open Sans", sans-serif;
  	}
    
    a{
        color: white;
    }
    a:hover{
        text-decoration: underline;
    }

    input {
      width: 100%;
    }

    input[type="submit"] {
      width: 30%;
      transition: all 0.3s ease-in-out;
      color: #FFF;

      @include breakpoint($mobile-size) {
        width: 35%;
      }
    }

    input[type="submit"]:hover {
      background-color: #34c6c6; 
      border: 1px solid #34c6c6;
      color: white;
      cursor:pointer;
    }

    textarea {
      width: 100%;
    }

    @include breakpoint($mobile-size) {
      width: 100%;
    }
  }  
}
}

/* Min width 601px */
@media only screen and (min-width: 601px) {
  .front{
    #menu-bar {
      height: 500px;
      background: url('/sites/all/themes/at_krakkaruv/css/images/christmas/front-chrstmas-hero-image-medium2.jpg') no-repeat top center;
    }
  }
}

/* Min width 1001px */
@media only screen and (min-width: 1001px) {
  .front{
    #page {
      background: url('/sites/all/themes/at_krakkaruv/css/images/christmas/banner-frontpage-bg-repeat.jpg') repeat-x top center;
    }
    #menu-bar {
      height: 790px;
      background: url('/sites/all/themes/at_krakkaruv/css/images/christmas/front-chrstmas-hero-image-large2.jpg') no-repeat top center;
    }
  }
}
