/* =============================================================================
 *  Front page
/* =========================================================================== */
.front{
  #menu-bar{
    background:  url('/sites/all/themes/at_krakkaruv/images/tofraheimar.jpg') center center;
    background-size: cover;
    margin: 0;
    width: 100%;
    padding: 100px 0;
  }

  #block-block-1{
    text-align: center;
    width: 70%;
    margin: 0 auto 50px;

    img{
      width: 60%;
    }
  }

  #block-block-3{
    display: none;
  }
}
