.worlds-wrapper{
  background:  url('/sites/all/themes/at_krakkaruv/images/heimar-background.jpg') center center;
  background-size: cover;
  margin: 0;
  padding: 80px 0 120px;

  .view-heimar{
	.view-content{
	  @include clearfix;
	  max-width: $max-width;
	  margin: 0 auto 30px;
	}

	.views-row{
	  width: 25%;
	  float: left;
	  padding: 50px;

	  a {
		text-align: center;
		color: white;
		font-size: 24px;
		font-family: $font-headline;
	  }
	}

	.view-footer{
	  a{
		transition: all 0.5s ease-in-out;
		font-family: $font-base;
		font-size: 18px;
		padding: 10px 30px;
		border: 1px solid $color-messages-headline;
		color: $color-messages-headline;
	  }

	  a:hover{
		background-color: $color-messages-headline;
		color: white;
		text-shadow: 0px 0px 10px black;
	  }
	}
  }

  h1{
	color: white;
  }

  h2{
	color: $color-worlds-blue-headline;
	margin-bottom: 40px;

	@include breakpoint($mobile-size){
	  margin-bottom: 0;
	}
  }

  h1,h2{
	@include breakpoint($tablet-size){
	  font-size: 40px;
	}

	@include breakpoint($mobile-size){
	  font-size: 40px;
	}

	@include breakpoint(max-width 640px){
	  font-size: 36px;
	}
  }
}

.worlds-page{
  .hundred{
	width: 100%;

	img{
	  width: 100%;
	  height: auto;
	}
  }
  .eighty-eight {
	width: 88%;
	padding: 20px;
	margin: 0 auto;
  }

  .fifty-percent{
	width: 50%;
	float: left;

	@include breakpoint($mobile-size){
	  width: 100%;
	}
  }

  .video-pane{
	padding-right: 20px;
	padding-left: 6%;

	@include breakpoint($mobile-size){
	  padding-left: 4%;
	}
  }

  .webform-pane{
	padding-left: 20px;
	padding-right: 6%;

	input[type='text'],
	input[textarea='textarea']{
	  width: 100%;
	}

	@include breakpoint($mobile-size){
	  padding-right: 4%;
	}
  }

  .views-field-field-heimur{
	display: none;
  }

  .worlds-diary{
	background:  url('/sites/all/themes/at_krakkaruv/images/galaxy.jpg') center center;
	background-size: cover;
	width: 100%;
	margin: 0 auto 40px;
	padding: 80px;
	color: white;
	font-size: 16px;

	h2{
	  color: white;
	  text-align: center;
	  margin-bottom: 50px;
	}

	a{
	  color: white;
	  font-size: 24px;
	  margin-bottom: 20px;
	  display: block;
	}
  }

  .views-row-last{
	margin-right: 0;
  }
}
