.worlds-wrapper{
  padding: 40px;
  background:  url('/sites/all/themes/at_krakkaruv/images/heimar-background.jpg') center center;
  background-size: cover;
  margin: 0;

  .view-heimar{

	.views-row{
	  width: 21%;
	  margin: 0 2%;
	  float: left;

	  @include breakpoint($mobile-size){
		width: 42%;
		margin: 20px 4%;
	  }
	}
  }

  h1{
	color: white;
  }

  h2{
	color: $color-worlds-blue-headline;
	margin-bottom: 40px;

	@include breakpoint($mobile-size){
	  margin-bottom: 0;
	}
  }

  h1,h2{
	@include breakpoint($tablet-size){
	  font-size: 40px;
	}

	@include breakpoint($mobile-size){
	  font-size: 40px;
	}

	@include breakpoint(max-width 640px){
	  font-size: 36px;
	}
  }

  img{
	width: 100%;
	height: 100%;
  }

  .button{
	border-color: $color-worlds-blue-headline;

	a{
	  font-size: 18px;
	  color: $color-worlds-blue-headline;
	}
  }

  .button:hover{
	background-color: $color-worlds-blue-headline;

	a{
	  color: white;
	}
  }

  .view-content{
	@include clearfix;
	margin-bottom: 40px;
  }

  .view-footer{
	width: 225px;
	margin: auto;
  }
}

.frontpage-worlds{
  height: 580px;

  @include breakpoint($tablet-size){
	height: 500px;
  }

  @include breakpoint($mobile-size){
	height: 780px;
  }
}
