.pane-hladbord-nodes-panel-pane-1{
  font-family: $font-base;

  background-color: white;
  border: 10px solid white;

  .views-row{
    position: relative;
    padding: 5px;

    width: 25%;
    float: left;

    img{
      vertical-align: super;
      margin-bottom: -10px;
      width: 100%;
      height: auto;

      @include breakpoint($tablet-size){
        margin-bottom: -7px;
      }
    }

    @include breakpoint($mobile-size){
      width: 100%;
    }
  }



  .views-row-1{
    width: 50%;

    img{
      margin-bottom: -8px;

      @include breakpoint($tablet-size){
        margin-bottom: -4px;
      }
    }

    @include breakpoint($mobile-size){
      width: 100%;
    }
  }

  .title-bar{
    padding-right: 10px;
    width: 100%;
    position: absolute;
    bottom: 4px;

    @for $i from 1 through length($buffet-array) {
      $category_name: nth($buffet-array, $i);
      $color_name: nth($menu-color-array, $i);

      &.#{$category_name} p{
        background-color: $color_name;
      }
    }

    p{
      display: block;
      opacity: 0.9;
      padding: 10px;
      color: white;
      font-size: 20px;

      @include breakpoint($tablet-size){
        font-size: 14px;
      }

      @include breakpoint($mobile-size){
        font-size: 18px;
      }
    }
  }
}
