.node-type-leikir{
  .region-two-66-33-top{
    background-color: $color-play;
    padding: 0 20px;
  }
}

.play-image{
  padding-top:20px;
  padding-bottom:$gutter;

  .views-field-title{
    h1{
      text-align: center;
      font-family: $font-base;
      color: white;
      margin-bottom: 20px;

      @include breakpoint($mobile-size){
        font-size: 36px;
      }
    }
  }

  .block-inner
  {
    max-width: $max-width;
    margin: 0 auto;
  }

  .game-image-and-link{
    margin: auto;
    width: 50%;
    float: left;
    position: relative;

    img{
      width: 100%;
      height: auto;
      float:left;
    }

    .game-hover{
      transition: all 0.5s ease;
      position: absolute;
      height: 100%;
      width: 100%;

      .hl-button {
        transition: all 0.5s ease;
        margin: 60% auto;
        max-width: 30%;

        p {
          text-align: center;
          padding: 10px 20px;
          color: rgba(255,255,255,0);
          background-color: rgba(255,255,255,0);
          font-size: 16px;
          border: 1px solid rgba(255,255,255,0);
        }
      }
    }

    @include breakpoint($mobile-size){
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .game-image-and-link:hover{
    .game-hover{
      background-color: rgba(0,0,0,.7);

      .hl-button{
        margin: 30% auto;

        p {
          text-align: center;
          padding: 10px 20px;
          color: rgba(0,0,0,1);
          background-color: rgba(255,255,255,1);
          font-size: 16px;
          border: 1px solid rgba(255,255,255,1);
        }
      }
    }
  }

  .directions{
    width: 50%;
    float: left;
    padding: 0 20px;
    color: white;

    h2{
      font-family: $font-base;
      color: white;
      font-weight: 300;
      font-size: 28px;
      line-height: 28px;
    }

    li{
      list-style: inside;
      margin-left: 20px;
      list-style-type: circle;
      margin-bottom: 5px;
      font-size: 16px;
    }

    @include breakpoint($mobile-size){
      width: 100%;
    }
  }
}

.short-description{
  color: $color-all-shows-black;

  h2{
    font-family: $font-base;
    color: $color-all-shows-black;
    font-weight: 300;
    font-size: 28px;
  }
}

.play-text{
  color: $color-all-shows-black;
  font-weight: 300;

  h2, h3{
    font-family: $font-base;
    font-size: 22px;
    font-weight: 300;
    color: $color-all-shows-black;
    padding: 0;
  }

  h3{
    margin: 15px 0 5px 0;
  }

  li{
    list-style: inside;
    margin-left: 20px;
    list-style-type: circle;
    margin-bottom: 5px;
    font-size: 16px;
  }
}
