.play-image{
  background-color: $color-play;

  .game-image-and-link{
    width: 50%;
    margin: auto;
    padding: $gutter 0;

    img{
      width: 100%;
      height: auto;
    }

    @include breakpoint($mobile-size){
      width: 90%;
    }
  }
}

.play-text{
  width: 80%;
  margin: 40px auto;
  font-family: $font-base;
  font-weight: 300;

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 24px;
    margin-bottom: 5px;
  }

  li{
    list-style: inside;
    margin-left: 20px;
    list-style-type: circle;
    margin-bottom: 5px;
    font-size: 16px;
  }

  p{
    font-size: 16px;
    margin-bottom: 20px;
  }

  @include breakpoint($mobile-size){
    width: 90%;
  }
}
