#menu-bar{
  a{
    color: $color-grey;
    font-family: $font-headline;
    font-size: $gutter / 2;
    font-weight: $font-weight-normal;

    @include breakpoint($mobile-size){
      font-size: $gutter / 3;
    }

    .front &{
      color: white;
    }
  }

  ul{
    display: block;
    text-align: center;

    padding: 0;

    li{
      @include inline-block;
      margin-right: $gutter;

      @include breakpoint($tablet-size){
        margin-right: $gutter / 2;
      }

      @include breakpoint($mobile-size){
        margin-right: $gutter / 2;
      }

      //Breaking the icons to two lines
      @include breakpoint(max-width 480px){
        margin-right: $gutter / 4;

        &:first-child{
          margin-left: $gutter / 2.5;
        }
      }

      a:before{
        content: " ";
        display: block;
        height: $gutter * 2;
        width: $gutter * 2;
        border-radius: 50%;
        margin-bottom: $gutter / 2;

        @include breakpoint($tablet-size){
          height: $gutter * 1.5;
          width: $gutter * 1.5;
        }

        @include breakpoint($mobile-size){
          height: $gutter;
          width: $gutter;
        }
      }

      a{
        display: block;
        border-bottom: 5px solid transparent;
        padding-bottom: $gutter / 4;
      }
    }

    li:last-child{
      margin-right: 0;
    }

    // Loop through the arrays, to set correct colors to the menu items
    // Also to append the correct icons.
    @for $i from 1 through length($menu-array){
      $category_name: nth($menu-array, $i);
      $color_name: nth($menu-color-array, $i);
      li.#{$category_name}{
        a:before{
          background: #{$color_name} url("/sites/all/themes/at_krakkaruv/images/#{$category-name}-button.png") no-repeat center center;
          background-size: $gutter*2 $gutter*2;

          @include breakpoint($tablet-size){
            background-size: $gutter*1.5 $gutter*1.5;
          }

          @include breakpoint($mobile-size){
            background-size: $gutter $gutter;
          }
        }

        a:hover{
          border-bottom: 5px solid #{$color_name};
        }
      }
    }

    // When we are not on the front page.
    .not-front &{
      margin-top: $gutter / 4;

      a:before{
        height: $gutter * 1.5;
        width: $gutter * 1.5;
        font-size: 24px;
        background-size: $gutter*1.5 $gutter*1.5 !important;

        @include breakpoint($mobile-size){
          height: $gutter;
          width: $gutter;
          background-size: $gutter $gutter !important;
        }
      }
    }
  }

  .menu-bar-wrapper{
    margin-bottom: 100px;

    @include breakpoint($tablet-size){
      margin-bottom: 70px;
    }

    @include breakpoint($mobile-size){
      margin-bottom: 40px;
    }
  }

  .not-front &{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;

    #block-block-1{
      display: none;
    }

    #block-block-3{
      position: absolute;
      left: 20px;
      margin-bottom: 0;

      img{
        width: $gutter * 1.5;
        float: left;
      }
    }

    nav{
      margin-bottom: 0;
    }
  }
}


