/** 
 * Main SCSS styles.
 *
 * Here we give global styles some values
 */

h1, h2{
	font-family: $font-headline;
	font-size: 48px;
	line-height: 60px;
}

h3{
	font-family: $font-headline;
	font-size: 32px;
	margin-bottom:20px;
}

p{
	font-size:16px;
	line-height: 1.6;
	font-family: $font-base;
}

ul
{
	margin-top:10px;
	margin-bottom:10px;
	li{
		margin-bottom:8px;
	}
}