.video-player-common{
  .views-field-php{
    /*width: 88%;*/
    margin: 0 auto;
    padding: 20px 0;
  }
}

/**
 * Text stylings are under leikur.scss
 */

.node-type-myndbandsleidbeiningar{
  .region-two-66-33-top{
    background-color: $color-watch;
    padding: 0 20px;
  }
}
