.front {
    .banner {
        position: relative;
        overflow: hidden;
        height: 120px;
        width: 100%;
        background: #d3a764 url(images/oskudagur/bg-repeat.jpg) repeat-x top left;
        border-bottom: 1px solid white;
        text-align: center;
        a {
            display: inline-block;
        }
        .btn-large {
            display: none;
        }
    }
}

.page-oskudagur {
    .banner {
        height: 350px;
        position: relative;
        overflow: hidden;
        width: 100%;
        .bg-image {
            position: absolute;
            width: 480px;
            height: 100%;
            z-index: 2;
            left: 0;
            background: #d3a764 url(images/oskudagur/bg-small.jpg) repeat-x top left;
        }
        .bg-repeat {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            background: #d3a764 url(images/oskudagur/bg-repeat.jpg) repeat-x top left;
        }
        .bg-repeat2 {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            background: #d3a764 url(images/oskudagur/bg-repeat2.jpg) repeat-x top left;
        }
    }
}

/* Min width 480px */
@media only screen and (min-width: 480px) {
    .front {
        .banner {
            .btn-large {
                display: block;
            }
            .btn-small {
                display: none;
            }
        }
    }
    .page-oskudagur {
        .banner {
            .bg-image {
                width: 768px;
                left: -158px;
                background: #d3a764 url(images/oskudagur/bg-medium.jpg) repeat-x top left;
            }
        }
    }
}

/* Min width 600px */
@media only screen and (min-width: 600px) {
    .page-oskudagur {
        .banner {
            .bg-image {
                left: -90px;
            }
        }
    }
}


/* Min width 700px */
@media only screen and (min-width: 700px) {
    .page-oskudagur {
        .banner {
            .bg-image {
                left: -66px;
            }
        }
    }
}

/* Min width 720px */
@media only screen and (min-width: 720px) {
    .page-oskudagur {
        .banner {
            .bg-image {
                left: 0;
            }
        }
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
    .page-oskudagur {
        .banner {
            .bg-image {
                left: 50%;
                margin-left: -800px;
                width: 1600px;
                background: #d3a764 url(images/oskudagur/bg-large.jpg) repeat-x top left;
            }
        }
    }
}