.page-oskudagur {
    .banner {
        height: 350px;
        position: relative;
        overflow: hidden;
        width: 100%;
        .bg-image {

        }
        .bg-repeat {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: #d3a764 url(images/oskudagur/bg-repeat.jpg) repeat-x top left;
        }
    }
}