.profill {
    #block-system-main {
        position: relative;
        overflow: hidden;
        img {
            max-width: 100%;
            height: auto;
        }
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 32px;
        }
        h3 {
            font-size: 28px;
        }
        h4 {
            font-size: 26px;
        }
        h5 {
            font-size: 24px;
        }
         h5 {
            font-size: 22px;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1;
        }
    }
    .pane-node-title {
        .block-content {
            position: relative;
            max-width: 1140px;
            margin: 0px auto;
            h1, h2, {
                padding: 30px 20px 0 20px;
            }
        }
    }
}



/* Min width 1180px */
@media only screen and (min-width: 1180px) {
    .profill {
        #block-system-main {
            padding-left: 0;
            padding-right: 0;
        }
         .pane-node-title {
            .block-content {
                h1, h2, {
                    padding: 30px 0 0 0;
                }
            }
        }
    }
}