.profill {
    .region-wrapper {
        position: relative;
        overflow: hidden;
    }
    #block-system-main {
        position: relative;
        overflow: hidden;
        background-color: #F7F7F7;
        img {
            max-width: 100%;
            height: auto;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 26px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 22px;
        }
        h5 {
            font-size: 20px;
        }
         h6 {
            font-size: 18px;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1;
            font-weight: normal;
            font-family: $font-base;
            font-weight: $font-weight-bold;
        }
        .pane-node-title {
             background-color: #63717B;
            .block-content {
                position: relative;
                max-width: 1140px;
                margin: 0px auto;
                h1, h2, {
                    padding: 30px 20px 32px 20px;
                    font-size: 40px;
                    font-family: $font-headline;
                    color: #FFFFFF;
                    line-height: 1.3;
                }
            }
        }
        .region-two-66-33-first {
            .region-inner {
                padding: 20px;
                border: 1px solid #dcdcdc;
                background-color: #FFFFFF;
            }
            .panel-pane {
                padding: 13px 0;
            }
            .panel-pane:first-child {
                padding-top: 0;
            }
            ul {
                margin-top: 0;
            }
            p, ul, ol {
                margin-bottom: 26px;
                font-size: 16px;
            }
            p:last-child, ul:last-child, ol:last-child {
                margin-bottom: 0;
            }
            .field-label {
                margin-bottom: 10px;
            }
        }
        .region-two-66-33-second {
            .pane-node-field-image.panel-pane {
                transform: rotateZ(-3deg);
                padding: 20px;
                border: 1px solid #dcdcdc;
                background-color: #FFFFFF;
                margin-right: 10px;
                margin-bottom: 35px;
                margin-top: 20px;
                margin-left: 10px;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                position: relative;
                &:before, &:after {
                    content:"";
                    position:absolute; 
                    z-index:-1;
                    box-shadow:0 0 20px rgba(0,0,0,0.8);
                    top:50%;
                    bottom:0;
                    left:10px;
                    right:10px;
                    border-radius:100px / 10px;
                }
            }
            .panel-pane {
                padding: 20px;
                border: 1px solid #dcdcdc;
                background-color: #EAEAEA;
                margin-bottom: 26px;
            }
            .panel-pane:last-child {
                margin-bottom: 0;
            }
            .field-label {
                font-size: 22px;
                margin-bottom: 6px;
            }
        }
        .region-two-66-33-bottom {
                background-color: #63717B;
                position: relative;
                overflow: hidden;
                margin-top: 40px;
                padding: 46px 20px;
            .pane-title, p {
                color: #FFFFFF;
            }
            .pane-title {
                padding: 0;
                text-align: left;
            }
            .panel-pane {
                width: 100%;
                position: relative;
                overflow: hidden;
                padding: 0;
                max-width: 1140px;
                margin: 0px auto;
            }
            .view-node-list {
                img {
                    display: block;
                    margin-bottom: 0;
                }
                .views-field-field-image {
                    border: 4px solid #EAEAEA;
                }
                .view-content {
                    margin-left: -10px;
                    margin-right: -10px;
                    .field-content {
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }
        }
    }
}

/* Min width 770px */
@media only screen and (min-width: 770px) {
    .profill {
        #block-system-main {
            .region-two-66-33-first {
                padding-right: 10px;
            }
            .region-two-66-33-second {
                padding-left: 10px;
            }
        }
    }
}

/* Min width 1180px */
@media only screen and (min-width: 1180px) {
    .profill {
        #block-system-main {
            padding-left: 0;
            padding-right: 0;
            .pane-node-title {
                .block-content {
                    h1, h2, {
                        padding: 30px 0 32px 0;
                        font-size: 44px;
                    }
                }
            }
            .region-two-66-33-first {
                padding-right: 20px;
            }
            .region-two-66-33-second {
                padding-left: 20px;
                .pane-node-field-image {
                    margin-bottom: 40px;
                    margin-right: 6px;
                    margin-bottom: 20px;
                    margin-top: -8px;
                }
            }
            .region-two-66-33-bottom {
                padding: 46px 0;
            }
        }
        .region-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }
}