.ruv-at-panel
{
	.region-wrapper
	{
		max-width: $max-width;
		text-align: center;
		margin:0 auto;
		padding: 60px 20px 0 20px;
		
		.region-two-66-33-first
		{
			width:66.666666%;
			text-align: left;
			padding-bottom:20px;

			h1.game-title
			{
				font-family: $font-base;
				font-weight: $font-weight-thin;
				font-size:28px;
				color:$color-dark-gray;
				line-height:20px;
			}

		  	@include breakpoint($mobile-size){
			  	width: 100%;
			}
		}
		.region-two-66-33-second
		{
			width:33.333333%;
			text-align: left;
			padding-bottom:20px;

			.side-bar-node-list
			{
				background:$color-ultralight-grey;
				padding:20px;
				/*margin-top:57px;*/
				
				.block-content
				{
					padding-top:20px;
					.views-row
					{
						float:left;
						width:100%;

					  	@include breakpoint($mobile-size){
						  width: 48%;
						}

					  	@include breakpoint($mobile-portrait-max){
							width: 100%;
					  	}
					}
				}
			}

			h2.pane-title.block-title
			{
				font-family: $font-base;
				font-weight: $font-weight-thin;
				font-size:22px;
				color:$color-dark-gray;
				line-height:20px;
			}

		  	@include breakpoint($mobile-size){
				width: 100%;
		  	}
		}

	}
}
