.message-in-a-bottle{
  background-color: $color-messages-background;
  color: white;
  padding: 100px 40px;

  a{
    color: white;
  }

  h2.block-title{
    margin-bottom: 40px;

    @include breakpoint(max-width 440px){
      font-size: 30px;
    }
  }

  h1{
    font-size: 26px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
    min-height: 54px;

    a{
      font-size: 20px;
      line-height: 24px;
    }

    @include breakpoint($mobile-portrait-max){
      min-height: 0;
    }
  }

  p, a, .views-field-title{
    text-align: left;
    font-size: 18px;
    transition: all 0.3s ease;
  }

  .views-field-title{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
  }

  p{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }

  .views-field-field-image{
    margin-bottom: 15px;
  }

  img{
    transition: all 0.3s ease;
  }

  .view-content{
    @include clearfix;
    max-width: $max-width;
    margin: 80px auto 0;

    @include breakpoint($mobile-portrait-max){
      margin-top: 0;
    }
  }

  .views-row{
    @include breakpoint($mobile-portrait-max){
      margin-bottom: 10px;
    }
  }

  .views-row:hover{
    color: lightgrey;

    a{
      color: lightgrey;
    }
  }

  @include breakpoint($mobile-portrait-max){
    padding-top: 40px;
  }
}


