.message-in-a-bottle{
  background-color: $color-messages-background;
  color: white;

  a{
    color: white;
  }

  h2.block-title{
    margin-bottom: 40px;
  }

  h1{
    font-size: 26px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
  }

  p, a, .views-field-title{
    text-align: left;
  }

  .views-field-title{
    font-weight: 700;
    margin-bottom: 20px;
  }

  p{
    font-weight: 300;
  }

  .views-field-field-image{
    margin-bottom: 15px;
  }
}
