.page-taxonomy-term-1367 {
    .field-name-field-image-banner {
        text-align: center;
        background: #152530 url(images/songvakeppnin-bg-repeat.jpg) repeat-x center center;
        img {
            width: auto;
        }
    }
}

/* Min width 1200px */
@media only screen and (min-width: 1200px) {
  .page-taxonomy-term-1367 {
  }
}