.eurovision-2016.page-node {
    .block-content {
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 16px;
        .views-field-views-conditional {
            .field-content {
                display: block;
                padding: 16px;
                background-color: rgba(146, 144, 208, 0.4);
                border: 1px solid rgba(194, 193, 248, 0.6);
                margin-bottom: 25px;
            }
        }
        .views-field-field-summary {
            .intro-text {
                font-weight: 500;
                background-color: rgba(88, 208, 255, 0.5);
                padding: 16px;
                border-top: 1px solid rgba(111, 231, 251, 0.6);
                border-right: 1px solid rgba(111, 231, 251, 0.6);
                border-left: 1px solid rgba(111, 231, 251, 0.6);
                margin-bottom: 25px;
            }
        }
        .views-field-field-body {
            .main-text {
                padding: 16px;
                background-color: rgba(88, 208, 255, 0.4);
                border: 1px solid rgba(111, 231, 251, 0.6);
            }
        }
    }
}
.logged-in.eurovision-2016 {
    #tasks {
        max-width: 1099px;
        position: relative;
        margin: 0px auto;
    }
    .action-links a {
        color: white;
    }
}
.eurovision-2016 {
    .songvakeppnin-logo {
        position: relative;
        margin: 0 auto;
        width: 253px;
        display: block;
        img {
            display: block;
            margin: 30px auto;
        }
    }

    #menu-bar {
        ul {
            margin-top: 0px;
            padding-top: 20px;
            background-color: rgba(198, 9, 49, 0.3);
            border-bottom: 1px solid rgba(249, 187, 200, 0.4);
            a {
                color: white;
                &:before {
                    border: 1px solid white;
                }
            }
        }
    }
    #page-wrapper {
        background: #03140d url(images/songvakeppnin-2016/bg.jpg) no-repeat center center fixed;
    }
    .pane-title {
        color: white !important;
    }
   
    .field-name-field-image-banner {
        text-align: center;
        background: #152530 url(images/songvakeppnin-bg-repeat.jpg) repeat-x center center;
        img {
            width: auto;
            margin-left: -383px;
        }
    }
    .field-name-field-image-banner {
        .field-items {
            border-bottom: 1px solid #CFF8FA;
        }
    }
    .view-id-node_list {
        .field-content {
            a, p {
                color: white;
            }
        }
        .views-row {
            min-height: 440px;
        }
        .views-field-field-image {
            border-left: 1px solid rgba(255, 255, 255, 0.6);
            border-top: 1px solid rgba(255, 255, 255, 0.6);
            border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
        .views-field-field-summary {
            background-color: rgba(84, 186, 84, 0.4);
            padding: 16px;
            border-left: 1px solid rgba(113, 241, 113, 0.6);
            border-right: 1px solid rgba(113, 241, 113, 0.6);
            border-bottom: 1px solid rgba(113, 241, 113, 0.6);
            p {
                font-size: 14px;
            }
        }
        .views-field-title {
            background-color: rgba(84, 186, 84, 0.4);
            margin: 0px;
            padding: 16px 16px 0px;
            border-left: 1px solid rgba(113, 241, 113, 0.6);
            border-right: 1px solid rgba(113, 241, 113, 0.6);
            a {
                font-size: 18px;
            }
        }
    }
    #footer {
        a, div, i {
            color: white;
        }
        .site-footer {
            border-color: white;
        }
    }

    .views-field-title h1, .intro-text p, .main-text p {
        color: white;
    }
    .views-field-title h1 {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 4px;
        font-family: $font-base;
        font-weight: 500;
        padding: 16px;
        background-color: rgba(84, 186, 84, 0.4);
        border: 1px solid rgba(113, 241, 113, 0.6);
        margin-bottom: 25px;
    }
    p.node-created {
       display: none;
    }
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
    .eurovision-2016 {
        .views-field-title h1 {
            font-size: 26px;
        }
    }
    .eurovision-2016.page-node {
        .block-content {
            .views-field-field-summary {
                float: left;
                width: 50%;
            }
            .views-field-field-body {
                float: right;
                width: 50%;
                .intro-text {
                    margin-left: 12px;
                    p {
                        font-size: 22px;
                    }
                }
                .main-text {
                    margin-left: 13px;
                }
            }
        }
    }
}

/* Min width 1700px */
@media only screen and (min-width: 1700px) {
    .page-taxonomy-term-1367 {
        .field-name-field-image-banner {
            img {
                margin-left: 0;
            }
        }
    } 
}