.eurovision-2016 {
    #menu-bar {
        ul {
            margin-top: 0px;
            padding-top: 20px;
            background-color: rgba(198, 9, 49, 0.3);
            border-bottom: 1px solid rgba(249, 187, 200, 0.4);
            a {
                color: white;
                &:before {
                    border: 1px solid white;
                }
            }
        }
    }
    #page-wrapper {
        background: #03140d url(images/songvakeppnin-2016/bg.jpg) no-repeat center center fixed;
    }
    .pane-title {
        color: white !important;
    }
    #block-system-main {
        /*background-color: #142630;*/
    }
    .field-name-field-image-banner {
        text-align: center;
        background: #152530 url(images/songvakeppnin-bg-repeat.jpg) repeat-x center center;
        img {
            width: auto;
            margin-left: -383px;
        }
    }
    .field-name-field-image-banner {
        .field-items {
            border-bottom: 1px solid #CFF8FA;
        }
    }
    .view-id-node_list {
        .views-row {
            min-height: 440px;
        }
        .views-field-field-image {
            padding: 2px;
            background-color: rgba(255, 255, 255, 0.6);
        }
        .views-field-field-summary {
            background-color: rgba(255, 255, 255, 0.6);
            padding: 16px;
            p {
                font-size: 14px;
            }
        }
        .views-field-title {
            background-color: rgba(255, 255, 255, 0.6);
            margin: 0px;
            padding: 16px 16px 0px;
            a {
                font-size: 18px;
            }
        }
    }
}

/* Min width 1200px */
@media only screen and (min-width: 1700px) {
  .page-taxonomy-term-1367 {
         .field-name-field-image-banner {
            img {
                margin-left: 0;
            }
        }
    } 
}