.ungir-frettamenn, .page-viltu-vera-med-i-stundinni-okkar {
	.one-column {
		.text-box {
			display: block !important;
			position: relative;
			max-width: 1024px;
			margin: 0px auto;
			padding: 30px 20px 0;
			h2 {
				font-family: $font-base;
				font-size: 26px;
				font-weight: 600;
				line-height: 1.2;
			}
			p {
				margin-bottom: 24px;
			}
		}
		background-color: #f1f3f9;
	}
	#webform-client-form-4561, #webform-client-form-6957 {
		position: relative;
		margin: 12px auto 50px;
		background-color: #f1f3f9;
		max-width: 1024px;
		border: 1px solid #326771;
		background-color: #A3C4BC;
		padding: 10px 20px;
	}
	.pane-webform-client-block-4561, .pane-webform-client-block-6957 {
		padding: 0 20px;
	}

	#edit-submitted-myndband-upload {
		margin: 0;
    	width: 100%;
    	padding: 0;
    	border: 0;
	}

	form {
		.form-text {
			width: 100%;
			border: 1px solid #326771;
			background-color: rgba(255,255,255,0.6);
		}

		h3 {
			font-size: 20px;
			font-weight: 600;
			font-family: $font-base;
		}

		label {
			margin-bottom: 24px;
    		line-height: 1.3;
		}
		.form-managed-file {
			margin-bottom: 20px;
		}
		#edit-submitted-myndband-upload {
			margin-bottom: 20px;
		}
		#edit-submitted-myndband-upload-button, .webform-submit {
			background-color: #326771;
		    border: none;
		    color: #FFFFFF;
		    width: 100%;
		}
		.description {
			line-height: 1.4;
			font-size: 14px;
		}
		.webform-component-radios {
			label {
				margin: 0;
				font-weight: bold;
			}
			.option {
				font-weight: normal;
			}
		}
	}
}

.page-viltu-vera-med-i-stundinni-okkar {
	.one-column {
		.text-box {
			h2 {
				margin-bottom: 25px;
			}
		}
		#webform-client-form-6957 {
			border-color: #f4863b;
			background-color: #f69e62;
		}
		form {
			.form-text {
				border-color: #f4863b;
			}
			#edit-submitted-myndband-upload-button, .webform-submit {
				background-color: #f4863b;
			}
		}
	}
}

/* Min width 768px */
@media only screen and (min-width: 768px) {
	.ungir-frettamenn, .page-viltu-vera-med-i-stundinni-okkar {
	.one-column {
			#webform-client-form-4561, #webform-client-form-6957 {
				padding: 30px 40px;
			}
		}
	}
}


/* Min width 1024px */
@media only screen and (min-width: 1024px) {
	.ungir-frettamenn, .page-viltu-vera-med-i-stundinni-okkar {
	.one-column {
			#webform-client-form-4561, #webform-client-form-6957 {
				padding: 50px 60px;
			}
		}
	}
}

/* Min width 1064px */
@media only screen and (min-width: 1064px) {
	.ungir-frettamenn, .page-viltu-vera-med-i-stundinni-okkar {
	.one-column {
			.text-box {
				padding: 50px 0 20px;
			}
		}
	}
}