
/**
 * COLOR DEFINITIONS
 */
$color-home:                  #FFFFFF;
$color-home-rgb-low:          rgba(0,0,0,0.9);
$color-home-rgb-hi:           rgba(0,0,0,0.3);
$color-watch:                 #54ba54;
$color-watch-rgb-low:         rgba(84,186,84,0.9);
$color-watch-rgb-hi:          rgba(84,186,84,0.3);
$color-listen:                #34c6c6;
$color-listen-rgb-low:        rgba(52,198,198,0.9);
$color-listen-rgb-hi:         rgba(52,198,198,0.3);
$color-play:                  #cc406e;
$color-play-rgb-low:          rgba(204,64,110,0.9);
$color-play-rgb-hi:           rgba(204,64,110,0.3);
$color-create:                #ab89bf;
$color-create-rgb-low:        rgba(171,137,191,0.9);
$color-create-rgb-hi:         rgba(171,137,191,0.3);
$color-worlds:                #ffd150;
$color-worlds-text:           #E8B936;
$color-worlds-rgb-low:        rgba(255,209,80,0.9);
$color-worlds-rgb-hi:         rgba(255,209,80,0.3);
$color-worlds-blue-headline:  #6be8ff;
$color-messages-background:   #008c99;
$color-messages-headline:     #71d3dc;
$color-grey:                  grey;
$color-light-grey:			  #c6c6c6;
$color-ultralight-grey:		  #f7f7f7;
$color-all-shows-black:       #282828;
$color-dark-gray:             #404040;

$menu-color-array: ($color-home, $color-watch, $color-listen, $color-play, $color-create, $color-worlds);
$title-bar-color-array-low: ($color-home-rgb-low, $color-watch-rgb-low, $color-listen-rgb-low, $color-play-rgb-low, $color-create-rgb-low, $color-worlds-rgb-low);
$title-bar-color-array-hi:  ($color-home-rgb-hi, $color-watch-rgb-hi, $color-listen-rgb-hi, $color-play-rgb-hi, $color-create-rgb-hi, $color-worlds-rgb-hi);
$menu-array: ('home','watch', 'listen', 'play', 'create', 'worlds');
$buffet-array: ('Heim','Horfa', 'Hlusta', 'Leika', 'Skapa', 'Heimar');
/**
 * FONT DEFINITIONS
 */
/*@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nunito:400,700,300);*/
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans:400,300,700);
/*$font-base: 'Nunito', sans-serf;*/
$font-base: 'Open Sans', sans-serif;
$font-headline: 'Gloria Hallelujah', sans-serif;

$font-weight-normal:  400;
$font-weight-bold:    700;
$font-weight-thin:    300;

/**
 * SIZES
 */
$gutter:  60px;

$superscreens: min-width 1200px;
$mobile-size:  max-width 769px;
$mobile-portrait-max: max-width 320px;
$tablet-size: 768px 1024px;
$max-width: 1140px;
