
/**
 * COLOR DEFINITIONS
 */
$color-watch:                 #20439c;
$color-listen:                #1eae52;
$color-play:                  #f6cb1a;
$color-create:                #aa344e;
$color-worlds:                #3cc6df;
$color-messages-background:   #008c99;
$color-messages-headline:     #71d3dc;
$color-grey:                  grey;

$menu-color-array: ($color-watch, $color-listen, $color-play, $color-create, $color-worlds);
$menu-array: ('watch', 'listen', 'play', 'create', 'worlds');
$buffet-array: ('Horfa', 'Hlusta', 'Leika', 'Skapa', 'Heimar');
/**
 * FONT DEFINITIONS
 */
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nunito:400,700,300);
$font-base: 'Nunito', sans-serf;
$font-headline: 'Gloria Hallelujah', sans-serif;

$font-weight-normal:  400;
$font-weight-bold:    700;
$font-weight-thin:    200;

/**
 * SIZES
 */
$gutter:  60px;
