
/**
 * COLOR DEFINITIONS
 */
$color-watch:                 #54ba54;
$color-listen:                #34c6c6;
$color-play:                  #cc406e;
$color-create:                #ab89bf;
$color-worlds:                #ffd150;
$color-worlds-blue-headline:  #6be8ff;
$color-messages-background:   #008c99;
$color-messages-headline:     #71d3dc;
$color-grey:                  grey;
$color-all-shows-black:       #282828;

$menu-color-array: ($color-watch, $color-listen, $color-play, $color-create, $color-worlds);
$menu-array: ('watch', 'listen', 'play', 'create', 'worlds');
$buffet-array: ('Horfa', 'Hlusta', 'Leika', 'Skapa', 'Heimar');
/**
 * FONT DEFINITIONS
 */
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nunito:400,700,300);
$font-base: 'Nunito', sans-serf;
$font-headline: 'Gloria Hallelujah', sans-serif;

$font-weight-normal:  400;
$font-weight-bold:    700;
$font-weight-thin:    300;

/**
 * SIZES
 */
$gutter:  60px;

$mobile-size:  max-width 769px;
$mobile-portrait-max:   320px;
$tablet-size: 768px 1024px;
